@import "lib/_colors";
@import "lib/_mixins";
/*  <!-- RESPONSIVE
============================================ --> */
/* здесь мы пишем медиа запросы*/

/* width start*/
$w1200: 1200px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
/* width end*/


/* =============================================================================*/


/* <!-- minw start
	============================================ --> */



	@media only screen and (min-width:$w480){

	}/* <!-- min-width: #{$w480} --> */


	@media only screen and (min-width:$w576){
	}/* <!-- min-width: #{$w576} --> */


	@media only screen and (min-width:$w768){
		.publications_title {
			display: none;
		}

	}/* <!-- min-width: #{$w768} --> */


	@media only screen and (min-width:$w992){
		/*.js-btn-menu*/
		.set_menu {
    		display: none;
  		}
	}/* <!-- min-width: #{$w992} --> */


	@media only screen and (min-width:$w1200){


	}/* <!-- min-width: #{$w1200} --> */


/* <!-- minw end
	============================================ --> */




/* <!-- maxw start
	============================================ --> */


	@media only screen and (max-width:$w1200 - 1px){
		.menu_link {
    		font-size: 15px;
		}

		.menu_item {
		    margin: 0;
		    &:not(:last-child) {
			    margin-right: 10px;
			}
		}

		.edition_service:not(:last-child):after {
		    right: -25px;
		}
		.md.m_b_zero.white_color{
			white-space: normal;
		}
		.public_container_item{
			-webkit-align-items: flex-start;
			        -webkit-box-align: start;
			        -ms-flex-align: start;
			        align-items: flex-start;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
			.form_row{
				margin-top: 10px;
				margin-left: 0px;
			}
		}
		.ribbon p{
			font-size: 14px;
		}
		.select_wrap{
			max-width: 407px;
		}

	}/* <!-- max-width: #{$w1200 - 1px} --> */


	@media only screen and (max-width:$w992 - 1px) {

		#header .container{
			max-width: 100%;
		}
    	.menu_lv2 {
    		display: none;
    	}
		.mr-57{
			margin-right: 0;
			margin-bottom: 15px;
		}
		.ml44{
			margin-left: 0;
		}
		#primary_nav {
		    position: fixed;
		    top: 0;
		    right: 0;
		    left: 0;
		    bottom: 0;
		    z-index: 100;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-align: start;
		    -webkit-align-items: flex-start;
		        -ms-flex-align: start;
		            align-items: flex-start;
		    -webkit-box-pack: center;
		    -webkit-justify-content: center;
		        -ms-flex-pack: center;
		            justify-content: center;
		    width: 100%;
		    height: 100%;
		    padding: 180px 20px;
		    background-color: #f4f4f4;
		    opacity: 0;
		    visibility: hidden;


			&.show{
				opacity: 1;
				visibility: visible;
			}
		}

		.menu_item{
			display: block;

			&:not(:last-child){
				margin-right: 0;
				padding-bottom: 25px;
			}
		}
		.menu_link {
			display: block;
			border: none;
			font-size: 18px;
			line-height: 1.2;
			text-align: center;
		}

		/*.js-btn-menu*/
		.set_menu {
			position: relative;
			z-index: 100;
			width: 45px;
			height: 45px;
			padding: 20px 5px;
			& span {
				position: relative;
				height: 4px;
				display: block;
				background-color: #4a4a4a;
				-webkit-transition: all ease 0.5s;
				-o-transition: all ease 0.5s;
				transition: all ease 0.5s;
				&:before,
				&:after {
					content: '';
					position: absolute;
					top: -10px;
					left: 0;
					height: 4px;
					width: 100%;
					display: block;
					background-color: #4a4a4a;
					-webkit-transition: all ease 0.5s;
					-o-transition: all ease 0.5s;
					transition: all ease 0.5s;
				}
				&:after {
					top: auto;
					bottom: -10px;
				}
			}
			& h5 {
				position: absolute;
				top: -8px;
				right: -70px;
			}

			&.active {
				span {
					background-color: transparent;
					& h5 {
						display: none;
					}
					&:before {
						top: 0;
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
					}

					&:after {
						bottom: 0;
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
					}
				}
			}
		}
		.info_block_txt p:first-child{
			line-height: 1.2;
		}
		.info_block_txt p:first-child span{
			line-height: 1.2;
		}

		.magazine_img {
    		text-align: center;
		}

		.edition_img img{
			display: none;
		}

		.footer_logo {
    		margin-bottom: 45px;
    		& img {
    			margin-left: -13px;
    		}
		}

		.footer_top {
		    margin-bottom: 0;
		}

		.footer_title {
			margin-top: 50px;
		}

		.edition_service:not(:last-child):after {
		    right: -60px;
		}


		.section_box {
		    max-width: 100%;
		    padding-right: 0;
		    padding-left: 0;
		}

		.publications_list{

			h6{
				letter-spacing: -0.8px;
			}
			.item_title {
		    	letter-spacing: -0.5px;
			}

		}

		.about_magazine {
			margin-left: 0;
		}

		.public_box {
		    margin-left: 0;
		}

		.public_list li a {
			margin-bottom: 0;
		}

		ul.list_regions li {
    		width: 171px;
		}

		.indent_box_5 {
    		padding-top: 10px;
		}

		.ribbon{
			  &:not(:first-child){
			  	p{
			    	padding: 0 0 0 35px;
			  	}
			  }
		    p{
		    	padding-left: 15px;
		    	font-size: 13px;
		    }
		}

		.mob_vers p{
			padding: 10px 10px;
			background: color("blue");
			color: color("white");
			margin-bottom: 3px;
		}
		.mob_vers p:hover{
			background: color("white");
			color: color("blue");
			border: 1px solid color("blue2");
		}
		.tabs_box > div{
			padding: 35px 15px 65px;
		}
		.bd_lf{
			margin-bottom: 20px;
		}
		.jq-radio {

		    + .form_label{
		    	margin-left: 15px;
		    	float: left;
		    	cursor: pointer;
		    }
		    &.radio_flex{
		    	float: left;
		    	-webkit-box-flex: 1;
		    	-webkit-flex: 1 0 auto;
		    	    -ms-flex: 1 0 auto;
		    	        flex: 1 0 auto;
		    }
		}

		.revers{
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-webkit-flex-direction: column-reverse;
			    -ms-flex-direction: column-reverse;
			        flex-direction: column-reverse;
		}
		.form_radio{
			&:first-child{
				label{
					width: 65%;
				}
			}
			&:last-child{
				label{
					width: 90%;
				}
			}
		}
		.public_container{
			.form_row{
				width: 100%;
			}
		}
		.form_row,
		.form_row_3col,
		.form_row_col{
			width: 75%;
		}
		.form_link_box.jc-end.m_b_zero{
			margin-top: 40px;
		}
		.md.m_b_zero.white_color{
			white-space: nowrap;
		}
		.public_container_item{
			-webkit-align-items: center;
			        -webkit-box-align: center;
			        -ms-flex-align: center;
			        align-items: center;
			-webkit-justify-content: space-between;
			        -webkit-box-pack: justify;
			        -ms-flex-pack: justify;
			        justify-content: space-between;
		    -webkit-flex-direction: row;
		        -ms-flex-direction: row;
		            -webkit-box-orient: horizontal;
		            -webkit-box-direction: normal;
		            flex-direction: row;
			.form_row{
				margin-left: 40px;
				margin-top: 0;
				width: auto;
			}
		}
		.info_block img{
			margin-left: -90px;
		}
		.info_block h3{
			margin-left: -50px;
			max-width: 290px;
		}
		.public_wrap{
			&[class*="order"]{
				-webkit-box-ordinal-group: 0;
				-ms-flex-order: -1;
				-webkit-order: -1;
				order: -1;
			}
		}
		.first_form{
			.al_center{
				text-align: left;
			}
		}
		.form_wrap.step_box.active.col-lg-12.form_wrap:not(.full){
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			-webkit-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
		.form_wrap.step_box.active.col-lg-12.form_wrap:not(.full) .ml44{
			margin-right: 0;
		}
		.select_wrap{
			max-width: 100%;
			margin-bottom: 10px;
		}
		.form_type .d_f{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		}
		.authorized-form{
			margin-left: 0;
		}
	}/* <!-- max-width: #{$w992 - 1px} --> */


	@media only screen and (max-width:$w768 - 1px) {
		.info_block_txt {
			padding-top: 15px;
		    padding-left: 0;
		}
		.container.wary{
			max-width: 100%;
		}


		.wary_txt {
    		line-height: 21px;
		}

		.public_list li:not(:last-child) {
		    width: 100%;
		}

		.public_list li p {
    		display: none;
		}


		.tabs_box > div {
		    padding: 35px 13px 65px;
		}

		.publications_list {
			display: none;
		}

		.edition_block_item {
    		-webkit-box-orient: vertical;
    		-webkit-box-direction: normal;
    		-webkit-flex-direction: column;
    		    -ms-flex-direction: column;
    		        flex-direction: column;
		}

		.edition_service:not(:last-child) {
		    padding-bottom: 30px;
		}

		.indent_box_3 {
    		overflow: hidden;
		}

		.edition_card {
			display: block;
			p {
	    		margin-right: 0;
	    		margin-bottom: 15px;
			}
		}

		.form_row,
		.form_row_3col,
		.form_row_col{
			width: 100%;
		}
		.info_block{
			margin-bottom: 5px;
		}
		.info_block img{
			margin-left: -50px;
		}
		.ribbon{
			&.active{
				-webkit-flex-shrink: 0;
				        -ms-flex-negative: 0;
				    flex-shrink: 0;
			    -webkit-flex-basis: 80%;
			            -ms-flex-preferred-size: 80%;
			        flex-basis: 80%;
			}
			&:not(.active){
				p{
					span{
						width: 8px;
					}
				}
			}
		}
	}/* <!-- max-width: #{$w768 - 1px} --> */


	@media only screen and (max-width:$w576 - 1px) {
		.banner,
		.list_company,
		.footer_magazin {
			display: none;
		}
		.feed_back {
			.title_feed_back{
				margin-bottom: 0;
				-webkit-transition: margin ease 0.5s;
				     -o-transition: margin ease 0.5s;
				        transition: margin ease 0.5s;
			}
			&.active{
				.title_feed_back{
					margin-bottom: 25px;
				}
			}
		}
		.feed_back_wrap{
			margin-top: -25px;
			.row [class*="col"] {
			    margin-top: 30px;
			}
		}
		.footer_top{
			margin-bottom: 38px;
		}
		.footer_logo{
			margin-bottom: 0;
		}

		.info_block h3 {
			font-size: 17px;
			line-height: 22px;
			max-width: 150px;
			margin-left: 0;
			position: relative;
		}

		.info_block img {
			margin-left: -50px;
			max-width: 240px;
		}

		.info_block_txt p:first-child span {
    		line-height: 22px;
		}

		.info_block_txt p:first-child {
    		line-height: 22px;
    		margin-bottom: 10px;
		}

		.information {
			position: relative;
		}

		.magazine_img {
		    margin-right: -10px;
		    margin-left: -10px;
		    margin-bottom: 20px;
		}

		.title-icon {
			margin-bottom: 20px;
    		font-size: 24px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			        align-items: center;
		}

		.title-icon img {
    		margin-bottom: 20px;
    		margin-right: 0;
		}

		.sub_title {
    		margin-bottom: 20px;
		}

		.footer_logo img {
    		margin-left: -45px;
    		margin-right: 0;
		}

		.footer_logo {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}

		#footer {
		    padding-top: 30px;
		    padding-bottom: 45px;
		}

		.edition_service:not(:last-child):after {
			display: none;
		}

		.wary_section.indent_box_1{
		    padding-top: 45px;
		    padding-bottom: 45px;
		}
		.wary{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			-webkit-align-items: flex-start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.wary_time{
			margin-bottom: 10px;
		}
		.footer_title {
			position: relative;
			padding-right: 20px;
			margin-top: 0;
			margin-bottom: 24px;
			&:after {
				content: "+";
				position: absolute;
				right: 0;
				top: 5px;
				width: 9px;
				height: 9px;
				font-size: 17px;
			    line-height: 0.4;
			    color: #242424;
    			background-repeat: no-repeat;
			}
			&.active{
				&:after {
					content: "-";
				}
			}
		}

		.footer_list{
			display: none;
			margin-bottom: 22px;

			li:not(:last-child){
				margin-bottom: 22px;
			}
		}

		.jq-selectbox li {
    		line-height: 22px;
		}
		.jq-selectbox__select-text{
			font-size: 12px;
		}
		.jq-selectbox__select{
			padding: 7px 7px 7px 15px;
		}
		.jq-selectbox li{
			font-size: 12px;
		}
		.mb55.al_center{
			font-size: 25px;
			margin-top: 35px;
		}
		.public_container_item{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		    -webkit-align-items: flex-start;
			        -webkit-box-align: start;
			            -ms-flex-align: start;
			        align-items: flex-start;
		    .form_row{
		    	margin-left: 0;
		    }
		}
		.public_title{
			margin-bottom: 20px;
		}

	}/* <!-- max-width: #{$w576 - 1px} --> */


	@media only screen and (max-width:$w480 - 1px) {
		.public_container{
			padding-left: 20px;
			padding-right: 20px;
		}
		.first_form.view2 .public_container .form_textarea{
			min-height: 225px;
		}
		// .js-stickyField{
		// 	&.sticky {
		// 		.public_container {
		// 			.form_textarea{
		// 				min-height: 225px;
		// 			}
		// 		}
		// 	}
		// }
		.any_message{
			font-size: 18px;
		}
		h5.md{
			margin-bottom: 25px;
		}
		.mr-57{
			margin-bottom: 0px;
		}
		.mb50{
			margin-bottom: 35px;
		}
		.md.mb50.al_center{
			font-size: 22px;
			margin-bottom: 25px;
		}
		.form_row_col{
			display: block;
			margin-bottom: 0;
			.form_row{
				width: 100%;
				margin-bottom: 22px;
			}
		}
		.form_wrap.mb40{
			margin-bottom: 35px;
		}
		h4.md.mb20{
			/* margin-top: 15px;*/
		}
		.jq-radio + .form_label{
			margin-left: 12px;
			width: 247px;
		}
		.form_row.d_f{
			-webkit-box-align: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		.md.mb20{
			font-size: 18px;
		}
		.form_radio:last-child label{
			width: 85%;
		}
		.form_link_box > a:not(:last-child){
			margin-right: 20px;
		}
		.form_row,
		.form_row:not(:last-child){
			margin-bottom: 22px;
		}
		.public_container{
			.form_textarea{
				line-height: 1.2;
				min-height: 350px;
			}
		}
		.main_ribbons{
			margin-bottom: 35px;
			display: block;
		}
		.ribbon{

			p{
				font-size: 11px;
			}
			&:not(.active){
				width: 26%;
			}
			&.active{
				width: 60%;
				-webkit-flex-basis: auto;
				    -ms-flex-preferred-size: auto;
				        flex-basis: auto;
				p{
					span{
						-ms-text-overflow: ellipsis;
						    -o-text-overflow: ellipsis;
						   text-overflow: ellipsis;
					}
				}
			}
		}
		.form_wrap.mb30{
			.mb45{
				margin-bottom: 40px;
			}
		}
		ul.list_company li .first_tible {
		    width: 100%;
		    padding-bottom: 5px;
		    padding-right: 10px;
		    color: #606060;
		    float: none;
		}
		.bd_lf{
			margin-bottom: 30px;
		}
		h2.al_center.mb50{
			font-size: 24px;
		}
		.info_block h3{
			margin-left: -20px;
		}
		.info_block img{
			max-height: 66px;
		}
		.edition_card img{
			margin-right: 0px;
			height: 18px;
			&:not(:last-child){
				margin-right: 8px;
			}
		}
		[class*="btn_step"] span:not([class]) {
		    padding: 11px 40px 9px;
		}
		.public_container{
			.form_row{
				margin-bottom: 0;
			}
			&.hideEl{
				padding-bottom: 0;
				.public_container_item{
					padding-bottom: 0;
				}
			}
		}
		.public_wrap{
			overflow: hidden;
			-webkit-transition: all ease 0.3s;
			-o-transition: all ease 0.3s;
			transition: all ease 0.3s;
		}
	}/* <!-- max-width: #{$w480 - 1px} --> */



/* <!-- maxw end
	============================================ --> */

