/*====>>  Stylesheet Guide START  <<====*/
/*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes
            3.1.      Float:;
            3.2.      Text-align:;
            3.3.      INDENTS Zero
            3.4.      Position :;
            3.5.      Clearfix
            3.6.      Dispay:;
            3.7.      LINKS
            3.8.      TITLES
            3.9.      FONTS
            3.10.     TEXTAFIELD
            3.11.     PRELOADER
            3.12.     COLOR
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
/*====>>  Stylesheet Guide END    <<====*/
/*  <!-- 1. IMPORT Plugins and other CSS files
============================================ --> */
/*  <!-- 2. DEFAULT Stylesheets
============================================ --> */
html, body {
  width: 100%;
  height: 100%;
}

html.action, body.action {
  margin: 0;
  overflow: hidden;
}

.page_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "SF UI Display", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #414246;
  background: #fff;
  min-width: 320px;
}

/* when you select text is added to a custom style  */
::-moz-selection {
  color: #fff;
  background-color: #4a5677;
}

::selection {
  color: #fff;
  background-color: #4a5677;
}

::-moz-selection {
  color: #fff;
  background-color: #4a5677;
}

/* !!! */
/* custom style to scroll (only in chrome) */
::-webkit-scrollbar {
  background: #f8f8f8;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4a5677;
}

/* !!! */
/*  <!-- 3. BASIC classes
============================================ --> */
/*==========>>  3.1.      Float:;   <<==========*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

/*==========>>  3.2.      Text-align:;   <<==========*/
.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.al_justify {
  text-align: justify;
}

/*==========>>  3.3.      INDENTS Zero   <<==========*/
.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.m_r_zero {
  margin-right: 0 !important;
}

.m_l_zero {
  margin-left: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.p_r_zero {
  padding-right: 0 !important;
}

.p_l_zero {
  padding-left: 0 !important;
}

/*==========>>  3.4.      Position :;   <<==========*/
.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

.p_static {
  position: static;
}

.full_abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99;
}

.z-i9 {
  z-index: 9;
}

/*==========>>  3.5.      Clearfix   <<==========*/
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>  3.6.      Dispay:;   <<==========*/
.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_none {
  display: none;
}

.d_t {
  display: table;
}

.d_row {
  display: table-row;
}

.d_tc {
  display: table-cell;
}

.d_f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d_if {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*  flex-direction  ==========>>*/
/* flex-direction: column*/
.fl-direction-col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

/*  justify-content  ==========>>*/
/* justify-content: center*/
.jc-center {
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* justify-content: flex-start*/
.jc-start {
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* justify-content: flex-end*/
.jc-end {
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* justify-content: space-between*/
.justify-content-between,
.jc-between {
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* justify-content: space-around*/
.jc-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* justify-content: space-evenly*/
.jc-around {
  -webkit-justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/*  align-items  ==========>>*/
/* align-items: flex-start*/
.al-it-start {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* align-items: flex-end*/
.al-it-end {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* align-items: center*/
.align-items-center,
.al-it-center {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* align-items: baseline*/
.al-it-baseline {
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/* align-items: stretch*/
.al-it-stretch {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/*  align-self  ==========>>*/
/* align-self: auto*/
.al-s-auto {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

/* align-self: flex-start*/
.al-s-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* align-self: flex-end*/
.al-s-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/* align-self: center*/
.al-s-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* align-self: baseline*/
.al-s-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

/* align-self: stretch*/
.al-s-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

/*  align-content  ==========>>*/
/* align-content: flex-start*/
.al-c-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

/* align-content: flex-end*/
.al-c-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

/* align-content: center*/
.al-c-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* align-content: space-between*/
.al-c-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

/* align-content: space-around*/
.al-c-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

/* align-content: stretch*/
.al-c-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/*==========>>  3.7.      LINKS   <<==========*/
* a,
* button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

* a:hover,
  * button:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a:not([class]) {
  color: inherit;
}

a:not([class]):hover {
  color: #3e4b6e;
}

[data-popup] {
  cursor: pointer;
}

[class*="link-"] {
  text-decoration: underline;
}

[class*="link-"]:hover {
  text-decoration: none;
}

.link_bd {
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  border-bottom: 1px solid #d5d7dc;
  text-decoration: none;
}

.link_bd2 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  border-bottom: 1px solid #7f7f7f;
  text-decoration: none;
}

.link-icon {
  position: relative;
  margin-left: 20px;
}

.link-icon img {
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link-size {
  font-size: 12px;
  line-height: 1.2;
}

.link-size2 {
  font-size: 18px;
  line-height: 1.2;
}

.link-lg {
  margin-left: 32px;
}

.link-lg img {
  left: -32px;
}

.link-blue {
  color: #4a5677;
}

.link-blue2 {
  color: #3e4b6e;
}

.link-blue3 {
  color: #566180;
}

.link-black {
  color: #414246;
}

.link-black2 {
  color: #000;
}

.link-red {
  color: #e64a51;
}

.link-red.link_bd {
  border-bottom-color: #F9D2D3;
}

.bb_city {
  border-bottom: 1px solid #a3a3a3;
}

[class*="btn_"] {
  padding: 11px 32px 9px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  border: 1px solid;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn_size {
  padding: 11px 47px 9px;
}

.btn_size2 {
  padding: 10px 38px;
}

.btn_size_1 {
  padding: 10px 16px;
}

.btn_blue {
  color: #4a5677;
  border-color: #4a5677;
}

.btn_blue:hover {
  color: #fff;
  border-color: #4a5677;
  background-color: #4a5677;
}

.btn_blue2 {
  background: #4a5677;
  border-color: #4a5677;
  color: #fff;
}

.btn_blue2:hover {
  color: #4a5677;
  border-color: #4a5677;
  background-color: #fff;
}

.btn_blue2.btn_step-left {
  border: none;
  background: transparent;
}

.btn_blue2.btn_step-left span.arr:before {
  border-color: #4a5677;
  background: #4a5677;
}

.btn_blue2.btn_step-left span:not([class]) {
  border: 1px solid #4a5677;
  background: #4a5677;
}

.btn_blue2.btn_step-left:hover {
  color: #4a5677;
  background: transparent;
}

.btn_blue2.btn_step-left:hover span.arr:before {
  border-color: #4a5677;
  background: transparent;
}

.btn_blue2.btn_step-left:hover span:not([class]) {
  border-color: #4a5677;
  border-left-color: transparent;
  background: transparent;
}

.btn_blue2.btn_step-right {
  border: none;
  background: transparent;
}

.btn_blue2.btn_step-right span.arr:after {
  border-color: #4a5677;
  background: #4a5677;
}

.btn_blue2.btn_step-right span:not([class]) {
  border: 1px solid #4a5677;
  background: #4a5677;
}

.btn_blue2.btn_step-right:hover {
  color: #4a5677;
  background: transparent;
}

.btn_blue2.btn_step-right:hover span.arr:after {
  border-color: #4a5677;
  background: transparent;
}

.btn_blue2.btn_step-right:hover span:not([class]) {
  border-color: #4a5677;
  border-right-color: transparent;
  background: transparent;
}

.btn_bd_blue {
  border-color: #4a5677;
  color: #4a5677;
}

.btn_bd_blue:hover {
  color: #fff;
  border-color: #4a5677;
  background-color: #4a5677;
}

.btn_bd_blue.btn_step-left {
  border: none;
}

.btn_bd_blue.btn_step-left span.arr:before {
  border-color: #4a5677;
}

.btn_bd_blue.btn_step-left span:not([class]) {
  border: 1px solid #4a5677;
  border-left-color: transparent;
}

.btn_bd_blue.btn_step-left:before {
  border-color: #4a5677;
}

.btn_bd_blue.btn_step-left:hover {
  color: #fff;
  background-color: transparent;
}

.btn_bd_blue.btn_step-left:hover span:not([class]) {
  border: 1px solid #4a5677;
  border-left-color: transparent;
  background-color: #4a5677;
}

.btn_bd_blue.btn_step-left:hover span.arr:before {
  border-color: #4a5677;
  background-color: #4a5677;
}

.btn_bd_blue.btn_step-right {
  border: none;
}

.btn_bd_blue.btn_step-right span.arr:after {
  border-color: #4a5677;
}

.btn_bd_blue.btn_step-right span:not([class]) {
  border: 1px solid #4a5677;
  border-right-color: transparent;
}

.btn_bd_blue.btn_step-right:after {
  border-color: #4a5677;
}

.btn_bd_blue.btn_step-right:hover {
  color: #fff;
  background-color: transparent;
}

.btn_bd_blue.btn_step-right:hover span:not([class]) {
  border: 1px solid #4a5677;
  border-right-color: transparent;
  background-color: #4a5677;
}

.btn_bd_blue.btn_step-right:hover span.arr:after {
  border-color: #4a5677;
  background-color: #4a5677;
}

[class*="btn_step"] {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

[class*="btn_step"] span:not([class]) {
  padding: 11px 46px 9px;
}

[class*="btn_step"] span.arr {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  overflow: hidden;
}

[class*="btn_step"] span.arr:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 1px solid;
  -webkit-transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
  -ms-transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
  transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
}

[class*="btn_step"] span.arr:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 1px solid;
  -webkit-transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
  -ms-transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
  transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
}

.btn_step-left {
  border-left-color: transparent;
}

.btn_step-left span:not([class]) {
  margin-left: 10px;
}

.btn_step-left span.arr:before {
  left: -10px;
}

.btn_step-left span.arr:after {
  display: none;
}

.btn_step-right {
  border-right-color: transparent;
}

.btn_step-right span:not([class]) {
  margin-right: 10px;
}

.btn_step-right span.arr {
  left: auto;
  right: 0;
}

.btn_step-right span.arr:before {
  display: none;
}

.btn_step-right span.arr:after {
  right: -10px;
}

/*==========>>  3.8.     TITLES   <<==========*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 30px;
  font-family: 'SF UI Display';
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}

h1, .h1 {
  font-size: 35px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 1.1;
}

h6, .h6 {
  font-size: 15px;
  line-height: 19px;
}

.italic {
  /* margin-top: 5px;*/
  margin-top: 15px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  font-style: italic;
  color: #414246;
}

.italic.mxw460 {
  max-width: 460px;
}

.mt15 {
  margin-top: 15px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb43 {
  margin-bottom: 43px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml44 {
  margin-left: 44px;
}

.mr15 {
  margin-right: 15px;
}

.mr-57 {
  margin-right: -57px;
}

.title-icon {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.title-icon > * {
  vertical-align: middle;
}

.title-icon img {
  margin-right: 11px;
}

p:not(:last-child) {
  margin-bottom: 13px;
}

ul:not([class]) {
  font-size: 12px;
  line-height: 1.2;
}

ul:not([class]) li:not(:last-child) {
  margin-bottom: 14px;
}

.tdn {
  text-decoration: none !important;
}

/*==========>>  3.9.     FONTS   <<==========*/
.lt {
  font-weight: 300;
}

.reg {
  font-weight: 400;
}

.md {
  font-weight: 500;
}

.bd {
  font-weight: 700;
}

/*==========>>  3.10.     TEXTAFIELD   <<==========*/
/*===  input  ===*/
.error_message {
  color: red;
  /* top: 98%;*/
  /* left: 0;*/
  font-size: 12px;
  line-height: 1.2;
}

.form_input.error_message,
.form_textarea.error_message {
  position: static;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* color: color('default');*/
  color: #888;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* color: color('default');*/
  color: #888;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* color: color('default');*/
  color: #888;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* color: color('default');*/
  color: #888;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/*==========>>  3.11.     PRELOADER   <<==========*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #4a5677;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*==========>>  3.12.     COLOR   <<==========*/
.white_color {
  color: #fff;
}

.blue_color {
  color: #4a5677;
}

.orange_color {
  color: "orange";
}

.bg_grey {
  background-color: #f8f8f8;
}

.bg_blue {
  background-color: #4a5677;
}

/*  <!-- 4. HEADER 
============================================ --> */
.banner img {
  width: 100%;
}

#header {
  padding: 16.5px 0;
  background-color: #f4f4f4;
  position: relative;
}

#primary_nav {
  margin-right: -30px;
}

.menu_item {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.menu_item:not(:last-child) {
  margin-right: 35px;
}

.menu_link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  border-bottom: 1px solid #d5d7dc;
  color: #000000;
}

.menu_lv2 {
  position: relative;
  position: absolute;
  top: 48px;
  left: -15px;
  z-index: 2;
  width: 436px;
  text-align: left;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_lv2:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  top: 0;
  margin-top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.menu_lv2:before {
  content: "";
  left: 40px;
}

.menu_lv2:after {
  content: "";
  position: absolute;
  height: 35px;
  width: 100%;
  top: -30px;
  z-index: -1;
}

.menu_lv2 a {
  display: block;
  padding: 11.5px 30px;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.menu_lv2 a:hover {
  background-color: #eaeeee;
}

.menu_item:hover .menu_lv2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.box_link {
  line-height: 0;
  text-align: right;
}

.region_link {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #4a5677;
}

.region_link img {
  margin-right: 8px;
}

.lk_link {
  font-size: 12px;
  line-height: 1.2;
  color: #414246;
  text-decoration: underline;
}

.lk_link img {
  margin-right: 16px;
}

/*  <!-- 5. CONTENT 
============================================ --> */
#content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

[class*="indent_box"] {
  padding-top: 27px;
  padding-bottom: 32px;
}

.indent_box_1 {
  padding-top: 13px;
  padding-bottom: 15px;
}

.indent_box_2 {
  padding-top: 45px;
  padding-bottom: 50px;
}

.indent_box_3 {
  padding-top: 33px;
  padding-bottom: 50px;
}

.indent_box_4 {
  padding-top: 45px;
  padding-bottom: 50px;
}

.indent_box_5 {
  padding-top: 30px;
  padding-bottom: 40px;
}

/* - - - - - - - - - - info_block - - - - - - - - - - */
.info_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_block img {
  margin-left: -15px;
}

.info_block h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
  color: #4a5677;
}

.info_block_txt {
  /* padding-left: 65px;*/;
}

.info_block_txt p:first-child {
  font-size: 15px;
  line-height: 30px;
  color: #414246;
  margin-bottom: 0;
}

.info_block_txt p:first-child span {
  font-size: 16px;
  line-height: 30px;
  color: #e64a51;
}

.info_block_txt span:last-child {
  font-size: 15px;
  line-height: 25px;
  color: #414246;
}

/* - - - - - - - - - -/ end of info_block - - - - - - - - - - */
.wary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.wary_time {
  margin-bottom: 0;
  margin-right: 16px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.wary_txt {
  padding-right: 30px;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
}

.wary-close {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
}

.wary-close img {
  vertical-align: middle;
}

/* - - - - - - - - - - about_magazine - - - - - - - - - - */
.about_magazine {
  margin-bottom: 40px;
  margin-left: 67px;
}

.magazine_img {
  margin-right: -30px;
  margin-left: -20px;
}

.public_box {
  margin-left: 67px;
}

.public_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -30px;
}

.public_list li:not(:last-child) {
  width: 33.3%;
}

.public_list li a {
  margin-top: 30px;
  margin-bottom: 15px;
}

.public_list li p {
  font-size: 12px;
  line-height: 18px;
  color: #414246;
}

/* - - - - - - - - - -/ end of about_magazine - - - - - - - - - - */
.edition_block p {
  margin-bottom: 40px;
}

.edition_block_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.edition_block_item h5 {
  margin-bottom: 15px;
}

.edition_block_item p {
  margin-bottom: 15px;
}

.edition_service {
  position: relative;
}

.edition_service a {
  margin-bottom: 23px;
}

.edition_service .link_bd {
  font-weight: 300;
}

.edition_service .link_bd.md {
  font-weight: 500;
}

.edition_service:not(:last-child):after {
  content: "";
  position: absolute;
  right: -50px;
  top: 0;
  height: 100%;
  border-right: 1px solid #edeef3;
}

.edition_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.edition_card p {
  font-size: 12px;
  margin-right: 28px;
  line-height: 19px;
  margin-bottom: 0;
}

.edition_card img {
  margin-right: 18px;
  height: 20px;
}

/* - - - - - - - - - - section_box - - - - - - - - - - */
.section_box:not(:last-child) {
  margin-bottom: 37px;
}

.sub_title {
  margin-bottom: 35px;
  padding: 0 25px;
  font-weight: 300;
  text-align: center;
  color: #414246;
}

.publications_list li {
  width: 34.2%;
  padding: 40px 10px 30px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.publications_list li li, .publications_list li h6 {
  margin-bottom: 15px;
}

.publications_list li.active {
  background-color: #4a5677;
}

.publications_list li.active .item_title span {
  border-bottom: transparent;
}

.publications_list li.active > * {
  color: #fff;
}

.publications_list li.active:nth-child(2):before {
  display: none;
}

.publications_list li.active:nth-child(2):after {
  display: none;
}

.publications_list li:nth-child(2):before, .publications_list li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  border-right: 1px solid #edeef3;
}

.publications_list li:nth-child(2):before {
  left: 0;
}

.publications_list li:nth-child(2):after {
  right: 0;
}

.publications_list .item_title {
  margin-bottom: 0;
}

.item_title {
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
  color: #4a5677;
}

.item_title span {
  border-bottom: 1px solid #b0b3bf;
  display: inline;
}

/* owl-carousel start*/
.carousel_box {
  background-color: #4a5677;
}

.carousel_item {
  padding: 35px 104px 65px;
}

.owl-dots {
  text-align: center;
  line-height: 0;
  position: absolute;
  left: 50%;
  bottom: 27px;
}

.owl-dots > * {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #7d869d;
}

.owl-dots > *:not(:last-child) {
  margin-right: 17px;
}

.owl-dots > *:hover,
.owl-dots > *.active {
  background-color: #b0b5c2;
}

.owl-dots > *:hover:before,
.owl-dots > *.active:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 7px solid #b0b5c2;
}

/* owl-carousel end*/
/*select*/
.jq-selectbox {
  width: 100%;
}

.jq-selectbox li {
  padding: 5px 10px 6px 20px;
  font-size: 15px;
  line-height: 30px;
  white-space: normal;
  font-weight: 400;
  cursor: pointer;
  color: #000;
}

.jq-selectbox li.selected, .jq-selectbox li:hover {
  background-color: #eaeeee;
  color: #000;
}

.jq-selectbox.opened .jq-selectbox__dropdown {
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.jq-selectbox.opened .jq-selectbox__select {
  color: #000;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.first_form .jq-selectbox.opened li {
  font-weight: 300;
}

.first_form .jq-selectbox.opened .jq-selectbox__select {
  border: 1px solid #D4D4D4;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.first_form .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #D4D4D4;
}

.jq-selectbox__trigger {
  border-left: none;
  top: -5%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 18px;
  height: 20px;
  background: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  border: none;
}

.jq-selectbox__dropdown {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'SF UI Display';
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.first_form .jq-selectbox__dropdown {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.jq-selectbox__select {
  padding: 8px 45px 8px 20px;
  height: auto;
  font-family: 'SF UI Display';
  font-size: 15px;
  line-height: 24px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  background: #FFF;
  color: #414246;
}

.jq-selectbox__select:hover {
  background: #FFF;
}

.jq-selectbox__select:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jq-selectbox__select-text {
  white-space: normal;
  width: 100% !important;
}

.first_form .jq-selectbox__select {
  border: 1px solid #D4D4D4;
  font-weight: 300;
}

/*end select*/
/* tabs start*/
.publications_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.publications_list li {
  text-align: center;
  cursor: pointer;
}

/* .js-tabs,*/
.tabs-wrap {
  position: relative;
}

/*.js-tabs-list*/
.tabs_box > div {
  display: none;
  padding: 35px 104px 65px;
}

.tabs_box .jq-selectbox__dropdown {
  top: 100% !important;
}

.tabs_box .form_row {
  margin-bottom: 27px;
}

.tabs_box .form_input_search {
  padding-right: 50px;
}

/*.js-tabs-dots*/
.tabs-point {
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0;
}

.tabs-point div {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 5.5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #7D869D;
  cursor: pointer;
}

.tabs-point div.active {
  background-color: #B0B5C2;
}

ul:not([class]) li:not(:last-child) {
  margin-bottom: 0;
}

/* .sel{*/
/* 	display: none;*/
/* }*/
.publications_title {
  text-align: center;
}

.publications_title h6, .publications_title h4 {
  color: #fff;
}

/* tabs end*/
/* - - - - - - - - - -/ end of section_box - - - - - - - - - - */
/* regions */
/**/
.regions {
  padding-top: 50px;
}

.mb_regions {
  margin-top: 45px;
}

ul.list_regions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.list_regions a {
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.list_regions a.current, ul.list_regions a:hover {
  color: #4a5677;
  text-decoration: none;
}

ul.list_regions li {
  width: 190px;
  margin-bottom: 25px;
  cursor: pointer;
}

ul.list_regions li.current a, ul.list_regions li.current a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4a5677;
}

ul.list_city {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.list_city li {
  padding-right: 20px;
  width: 230px;
  margin-bottom: 30px;
  text-decoration: none;
}

ul.list_city li a {
  display: inline-block;
  padding: 5px;
}

ul.list_city li.current a, ul.list_city li.current a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4a5677;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.list_city .link-black2.current, ul.list_city .link-black2:hover {
  color: #4a5677;
}

ul.list_city .link_bd2.current, ul.list_city .link_bd2:hover {
  border-bottom-color: transparent;
}

ul.list_company li:not(:last-child) {
  margin-bottom: 20px;
}

ul.list_company li .first_tible {
  width: 180px;
  padding-right: 10px;
  float: left;
  color: #606060;
}

ul.list_company li .second_tible {
  text-align: left;
  overflow: hidden;
  color: #000;
}

.feed_back .title_feed_back {
  margin-bottom: 25px;
  font-weight: 500;
  color: #4a5677;
}

.title_regions {
  margin-top: 15px;
  font-weight: 500;
  color: #414246;
}

.bd_lf {
  border-left: 2px solid #4a5677;
}

.bd_lf p {
  padding-left: 12px;
}

.text_regions {
  margin-top: 45px;
}

.feed_back_wrap {
  /* margin-top: 25px;*/
  margin-top: -18px;
  margin-bottom: 45px;
}

.feed_back_wrap .row [class*="col"] {
  margin-top: 43px;
}

/* end of regions */
.tab_ragion_list {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 276px;
}

.tab_ragion_list li {
  width: 50.2%;
  float: left;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding: 12px 0px;
  font-size: 15px;
}

.tab_ragion_list li:last-child {
  margin-right: -1px;
  margin-left: 0;
}

.tab_ragion_list li.active {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #4a5677;
  color: #fff;
}

.ymap {
  width: 100%;
  height: 593px;
}

/* public */
.main_ribbons {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ribbon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ribbon-1 {
  z-index: 10;
}

.ribbon-2 {
  z-index: 5;
}

.ribbon:not(:first-child) {
  margin-left: -30px;
}

.ribbon:not(:first-child) p {
  padding: 0 5px 0 30px;
}

.ribbon p {
  position: relative;
  margin-right: 26px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  background: #F4F4F4;
  color: #495678;
  border: 1px solid #A6A6A6;
  border-right: none;
}

.ribbon p span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.ribbon p:before, .ribbon p:after {
  content: "";
  right: -52px;
  z-index: 99;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ribbon p:before {
  border-color: rgba(166, 166, 166, 0);
  border-left-color: #a6a6a6;
  border-width: 26px;
  margin-top: -26px;
}

.ribbon p:after {
  right: -51px;
  border-color: rgba(244, 244, 244, 0);
  border-left-color: #F4F4F4;
  border-width: 26px;
  margin-top: -26px;
}

.ribbon:hover p {
  background: #495678;
  color: white;
}

.ribbon:hover p:after {
  border-left-color: #495678;
}

.ribbon.active p {
  background: #495678;
  color: white;
}

.ribbon.active p:after {
  border-left-color: #495678 !important;
}

.public {
  padding-top: 43px;
}

.public .container-fluid {
  display: block;
}

/* form*/
.first_form {
  margin-bottom: 50px;
  counter-reset: number;
}

.first_form.view2 .public_container .form_textarea {
  min-height: 150px;
}

.first_form.view2 .form_step_box {
  display: none;
}

.first_form.view2 .form_main_wrap + .form_wrap .form_step_box .form_left-step {
  opacity: 0;
  visibility: hidden;
}

.first_form .form_left-step.hidden,
  .first_form .form_right-step.hidden {
  opacity: 0;
  visibility: hidden;
}

.first_form.steps_form .form_step_container > .form_wrap,
  .first_form.steps_form > .form_wrap {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.first_form.steps_form .form_step_container > .form_wrap.organization_created.form_turn,
    .first_form.steps_form > .form_wrap.organization_created.form_turn {
  display: block;
}

.first_form.steps_form > .form_turn {
  display: block;
}

.first_form.steps_form .form_step_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form_title_step span[data-number]:before {
  counter-increment: number;
  content: counter(number) ". ";
}

/* .js-stickyField{*/
/*     &.sticky{*/
/*         .public_container_item{*/
/*             padding: 10px 0;*/
/*             -webkit-transition: padding ease 0.5s;*/
/*                  -o-transition: padding ease 0.5s;*/
/*                     transition: padding ease 0.5s;*/
/*         }*/
/*         .public_container {*/
/*             padding-bottom: 15px;*/
/*             -webkit-transition: padding ease 0.5s;*/
/*                  -o-transition: padding ease 0.5s;*/
/*                     transition: padding ease 0.5s;*/
/*             .form_textarea{*/
/*                 min-height: 90px;*/
/*                 resize: none;*/
/*                 -webkit-transition: min-height ease 0.5s;*/
/*                  -o-transition: min-height ease 0.5s;*/
/*                     transition: min-height ease 0.5s;*/
/*             }*/
/*         }*/
/*     }*/
/* }*/
.form_step_box {
  display: none;
  /* margin-top: 50px;*/
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form_main_wrap .form_wrap {
  display: block !important;
}

.form_wrap.step_box.active {
  /* display: block !important;*/
  /* width: auto !important;*/
  position: static !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.form_wrap.step_box.active[class*="order-"]:not(.full) {
  -ms-flex-order: -1;
  -webkit-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.form_wrap.step_box.active.col-lg-12.form_wrap:not(.full) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  -webkit-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.form_wrap.step_box.active.col-lg-12.form_wrap:not(.full) [class*="col"] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0;
}

.form_wrap.step_box.active.col-lg-12.form_wrap:not(.full) .ml44 {
  margin-left: 0;
  margin-right: -57px;
}

.form_textarea.error_message,
.form_input.error_message {
  border-color: red;
  background: #fbe4e5;
}

.jq-selectbox.error_message {
  position: relative;
}

.jq-selectbox.error_message .jq-selectbox__select {
  border-color: red;
  background: #fbe4e5;
}

.jq-selectbox.error_message.changed .jq-selectbox__select {
  background: #FFF;
  border-color: #D4D4D4;
}

/* select start*/
.form_select .select2-container {
  width: 100% !important;
}

.select2-container {
  line-height: 0;
}

.select2-results__option {
  line-height: 1.2;
}

.selection {
  display: block;
}

.select_wrap {
  max-width: 507px;
  width: 100%;
}

.select_wrap .selection {
  display: block;
}

.select2-container--default .select2-selection--single {
  padding: 8px 45px 8px 20px;
  height: auto;
  background: #FFF;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #D4D4D4;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  font-family: 'SF UI Display';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #414246;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: auto;
  right: 12px;
  width: 18px;
  height: 20px;
  margin-top: -10px;
  margin-left: 0;
  border: none;
  background: url(../images/arrow_down.png) 50% 50% no-repeat;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #eaeeee;
  color: #000;
}

/* select end*/
.authorized-form {
  margin-left: 35px;
}

.form_row_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
  /* .form_input {*/
  /*     width: 100%;*/
  /*     display: -webkit-box;*/
  /*     display: -webkit-flex;*/
  /*     display: -ms-flexbox;*/
  /*     display: flex;*/
  /* }*/;
}

.form_row_col .form_row {
  width: -webkit-calc(50% - 3px);
  width: calc(50% - 3px);
  margin-bottom: 0;
}

.form_row_col .form_row:not(:last-child) {
  margin-bottom: 0;
}

.form_row_3col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form_row_3col .form_row {
  width: -webkit-calc(33.3% - 3px);
  width: calc(33.3% - 3px);
  margin-bottom: 0;
}

.form_row_3col .form_row:not(:last-child) {
  margin-bottom: 0;
}

.form_link_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form_link_box > a:not(:last-child) {
  margin-right: 30px;
}

.form_label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'SF UI Display';
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #606060;
}

.form_label.ml10 {
  margin-left: 10px;
}

.form_label.required:after {
  content: '*';
  color: red;
}

.form_row {
  position: relative;
}

.form_row:not(:last-child) {
  margin-bottom: 15px;
}

.form_type {
  background-color: #DFE5EE;
  padding: 20px;
}

.form_textarea {
  width: 100%;
  /* padding: 17px 10px;*/
  padding: 10px 19px;
  resize: vertical;
  font-family: 'SF UI Display';
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  border: 1px solid #d4d4d4;
  color: #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.form_textarea.h70 {
  min-height: 70px;
}

.form_textarea.h80 {
  min-height: 80px;
}

.form_textarea.h82 {
  min-height: 82px;
}

.form_textarea.h123 {
  min-height: 123px;
}

.form_textarea.h173 {
  height: 173px;
  resize: none;
}

.form_textarea[readonly] {
  background: #f1f1f1 !important;
}

.form_input {
  width: 100%;
  height: 42px;
  padding: 0 19px;
  font-family: 'SF UI Display';
  font-size: 15px;
  line-height: 1.2;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  background-color: #fff;
  color: #414246;
}

.form_input.w52 {
  width: 52px;
  height: 38px;
  text-align: center;
  padding: 0 5px;
}

.form_input.w75 {
  width: 75px;
  padding: 0 5px;
}

.form_input.w100 {
  width: 100px;
}

.form_input.ml15 {
  margin-left: 15px;
}

.form_input.input_hide {
  display: none;
}

.form-btn-search {
  position: absolute;
  top: 50%;
  right: 23px;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  border: none;
}

.jq-radio {
  width: 25px;
  height: 25px;
  background: #fff;
  border-color: #D4D4D4 !important;
}

.jq-radio.checked .jq-radio__div {
  height: 9px;
  width: 9px;
  margin: 7px 0 0 7px;
  background: #4a5677;
}

.jq-radio + .form_label {
  overflow: hidden;
  margin-left: 43px;
  cursor: pointer;
  display: block;
}

.jq-radio.radio_flex {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  width: 45px;
  height: 25px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #4a5677;
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 21px;
  width: 21px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  top: 2px;
  left: 2px;
  right: auto;
  background: white;
}

.toggle_box {
  width: 45px;
  margin: 0 20px;
}

#toggle-checkbox {
  display: none;
}

#toggle-checkbox:checked + .checkbox-label {
    /* background: #A6A6A6;*/;
}

#toggle-checkbox:checked + .checkbox-label:before {
  left: auto;
  right: 2px;
}

.ckeckForm {
  cursor: pointer;
}

.sticky .stickyWrap {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.public_container {
  padding: 0 30px 28px;
  background: #4a5677;
}

.public_container .form_textarea {
  padding: 20px 13px;
  line-height: 24px;
  min-height: 750px;
  resize: vertical;
  background: #fff;
}

.public_container_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #4a5677;
  color: #fff;
  padding: 18px 0;
}

.public_container_item > * {
  white-space: nowrap;
}

.public_container_item .form_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: 40px;
}

.public_container_item .jq-checkbox {
  margin-right: 0;
}

.public_container_item .form_label {
  margin-bottom: 0;
  cursor: pointer;
  color: #F4F4F4;
}

.public_title {
  font-weight: 500;
  margin-bottom: 0;
  color: #fff;
}

.coment_txt {
  font-size: 12px;
  line-height: 18px;
  color: #414246;
}

/* tooltip start*/
/*.js-tooltip*/
.prompt {
  position: absolute;
  z-index: 5;
  display: inline-block;
  top: 5px;
  right: 0;
  line-height: 0;
  cursor: pointer;
}

.prompt:hover {
    /*.js-tooltip_container*/;
}

.prompt:hover .prompt_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-13px) translateY(-50%);
  -ms-transform: translateX(-13px) translateY(-50%);
  transform: translateX(-13px) translateY(-50%);
}

/*.js-tooltip_container*/
.prompt_container {
  position: absolute;
  top: 50%;
  right: 100%;
  width: 215px;
  min-height: 34px;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  color: #414246;
  border: solid 1px #778293;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-25px) translateY(-50%);
  -ms-transform: translateX(-25px) translateY(-50%);
  transform: translateX(-25px) translateY(-50%);
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.prompt_container:before, .prompt_container:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  z-index: 1;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #fff;
  border: 1px solid #778293;
}

.prompt_container:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prompt_container:after {
  right: -1px;
  background-color: #fff;
  border-color: #fff;
}

/*.js-tooltip-wrap*/
.prompt_wrap {
  position: relative;
  z-index: 5;
  padding: 3px 4px 3px 9px;
  background-color: #fff;
}

/* tooltip end*/
/* CHECK*/
.jq-checkbox.styler {
  min-width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #d4d4d4;
}

.jq-checkbox.styler + .form_label {
  margin-left: 14px;
  margin-bottom: 0;
  cursor: pointer;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 17px;
  height: 9px;
  margin: 5px 0 0 4px;
  color: #4a5677;
}

/* CHECK end*/
.jq-selectbox__trigger {
  top: -10%;
}

.input-day {
  opacity: 0;
  visibility: hidden;
}

.input-day.active {
  opacity: 1;
  visibility: visible;
}

/* .input-day,*/
.other_organization,
.accounting_docs,
.primary_publications,
.recipient,
.executive_agency,
.recipient2,
.additional_documents,
.organization_created,
.reprint,
.re-publish {
  display: none;
}

.other_organization.active,
  .accounting_docs.active,
  .primary_publications.active,
  .recipient.active,
  .executive_agency.active,
  .recipient2.active,
  .additional_documents.active,
  .organization_created.active,
  .reprint.active,
  .re-publish.active {
  display: block;
}

/* .recipient{*/
/*     display: none;*/
/*     &.active{*/
/*         display: -webkit-box;*/
/*         display: -webkit-flex;*/
/*         display: -ms-flexbox;*/
/*         display: flex;*/
/*     }*/
/* }*/
/* form end*/
.footer_info_container {
  margin-bottom: 40px;
}

/* public end*/
.org_list_item:not(:last-child) {
  margin-bottom: 10px;
}

.org_list_item {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  position: relative;
  padding: 5px 25px 5px 5px;
  border: 1px solid #d4d4d4;
}

.org_list_edit {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../images/icons/edit-icon.png") 0 0 no-repeat;
  cursor: pointer;
}

/*  <!-- 6. FOOTER 
============================================ --> */
#footer {
  padding-top: 49px;
  padding-bottom: 64px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
}

/* - - - - - - - - - - - - - footer_top - - - - - - - - - - - - - - - - */
.footer_top {
  margin-bottom: 56px;
}

.footer_logo {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #4a5677;
}

.footer_logo > * {
  vertical-align: middle;
}

.footer_logo img {
  margin-right: 13px;
}

.footer_magazin {
  font-size: 12px;
  line-height: 18px;
  color: #606060;
}

/* - - - - - - - - - - - - - footer_middle - - - - - - - - - - - - - - - - */
.footer_middle {
  margin-bottom: 48px;
}

.footer_title {
  margin-bottom: 21px;
  font-weight: 500;
}

.footer_title a {
  font-weight: 500;
  color: #000;
}

.footer_list {
  font-size: 12px;
  line-height: 1.2;
}

.footer_list li a {
  color: #000000;
}

.footer_list li:not(:last-child) {
  margin-bottom: 14px;
}

/* - - - - - - - - - - - - - footer_bottom - - - - - - - - - - - - - - - - */
.footer_info {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #606060;
}

.form_limit {
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  color: #000;
  border: 1px solid #000;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
