/*  <!-- 1. IMPORT Plugins and other CSS files
============================================ --> */

/*  <!-- 2. DEFAULT Stylesheets
============================================ --> */
    html,body{
        width:100%;
        height: 100%;

        &.action{
            margin: 0;
            overflow: hidden;
        }
    }
    .page_wrap{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
        min-height: 100%;
    }

    body {
        @include font-default('SF UI Display', 15px, 300, 22px);
        color: color('default');
        background: color('white');
        min-width:320px;
    }

    /* when you select text is added to a custom style  */

    ::-moz-selection{
        color: #fff;
        background-color: #4a5677;
    }

    ::selection{
        color: color('white');
        background-color: color('blue');
    }

   ::-moz-selection{
        color: color('white');
        background-color: color('blue');
    }

    /* !!! */

    /* custom style to scroll (only in chrome) */

    ::-webkit-scrollbar{
        background: color('grey_lite');
        width: 10px;
    }

   ::-webkit-scrollbar-thumb{background: color('blue');}

   /* !!! */