        /*==========>>  3.1.      Float:;   <<==========*/

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}

        /*==========>>  3.2.      Text-align:;   <<==========*/

            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}

        /*==========>>  3.3.      INDENTS Zero   <<==========*/

            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}

        /*==========>>  3.4.      Position :;   <<==========*/

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }

            .z-i9{z-index: 9;}

        /*==========>>  3.5.      Clearfix   <<==========*/

            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}

        /*==========>>  3.6.      Dispay:;   <<==========*/

            .d_block{display:block;}
            .d_ib{display:inline-block;}
            .d_none{display:none;}

            .d_t{display:table;}
            .d_row{display:table-row;}
            .d_tc{display:table-cell;}

            .d_f{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
            .d_if{
                display: -webkit-inline-box;
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
            }


            /*  flex-direction  ==========>>*/

            /* flex-direction: column*/
            .fl-direction-col{
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        flex-direction: column;
            }

            /*  justify-content  ==========>>*/


            /* justify-content: center*/
            .jc-center{
                -webkit-justify-content: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                        justify-content: center;
            }
            /* justify-content: flex-start*/
            .jc-start{
                -webkit-justify-content: flex-start;
                        -webkit-box-pack: start;
                            -ms-flex-pack: start;
                        justify-content: flex-start;
            }
            /* justify-content: flex-end*/
            .jc-end{
                -webkit-justify-content: flex-end;
                        -webkit-box-pack: end;
                            -ms-flex-pack: end;
                        justify-content: flex-end;
            }
            /* justify-content: space-between*/
            .justify-content-between,
            .jc-between{
                -webkit-justify-content: space-between;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                        justify-content: space-between;
            }
            /* justify-content: space-around*/
            .jc-around{
                -webkit-justify-content: space-around;
                        -ms-flex-pack: distribute;
                    justify-content: space-around;
            }
            /* justify-content: space-evenly*/
            .jc-around{
                -webkit-justify-content: space-evenly;
                        -webkit-box-pack: space-evenly;
                            -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
            }

            /*  align-items  ==========>>*/

            /* align-items: flex-start*/
            .al-it-start{
                -webkit-align-items: flex-start;
                        -webkit-box-align: start;
                            -ms-flex-align: start;
                        align-items: flex-start;
            }
            /* align-items: flex-end*/
            .al-it-end{
                -webkit-align-items: flex-end;
                        -webkit-box-align: end;
                            -ms-flex-align: end;
                        align-items: flex-end;
            }
            /* align-items: center*/
            .align-items-center,
            .al-it-center{
                -webkit-align-items: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                        align-items: center;
            }
            /* align-items: baseline*/
            .al-it-baseline{
                -webkit-align-items: baseline;
                        -webkit-box-align: baseline;
                            -ms-flex-align: baseline;
                        align-items: baseline;
            }
            /* align-items: stretch*/
            .al-it-stretch{
                -webkit-align-items: stretch;
                        -webkit-box-align: stretch;
                            -ms-flex-align: stretch;
                        align-items: stretch;
            }

            /*  align-self  ==========>>*/

            /* align-self: auto*/
            .al-s-auto{
                -webkit-align-self: auto;
                        -ms-flex-item-align: auto;
                    -ms-grid-row-align: auto;
                    align-self: auto;
            }
            /* align-self: flex-start*/
            .al-s-start{
                -webkit-align-self: flex-start;
                        -ms-flex-item-align: start;
                    align-self: flex-start;
            }
            /* align-self: flex-end*/
            .al-s-end{
                -webkit-align-self: flex-end;
                        -ms-flex-item-align: end;
                    align-self: flex-end;
            }
            /* align-self: center*/
            .al-s-center{
                -webkit-align-self: center;
                        -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
            }
            /* align-self: baseline*/
            .al-s-baseline{
                -webkit-align-self: baseline;
                        -ms-flex-item-align: baseline;
                    align-self: baseline;
            }
            /* align-self: stretch*/
            .al-s-stretch{
                -webkit-align-self: stretch;
                        -ms-flex-item-align: stretch;
                    -ms-grid-row-align: stretch;
                    align-self: stretch;
            }

            /*  align-content  ==========>>*/

            /* align-content: flex-start*/
            .al-c-start{
                -webkit-align-content: flex-start;
                        -ms-flex-line-pack: start;
                    align-content: flex-start;
            }
            /* align-content: flex-end*/
            .al-c-end{
                -webkit-align-content: flex-end;
                        -ms-flex-line-pack: end;
                    align-content: flex-end;
            }
            /* align-content: center*/
            .al-c-center{
                -webkit-align-content: center;
                        -ms-flex-line-pack: center;
                    align-content: center;
            }
            /* align-content: space-between*/
            .al-c-between{
                -webkit-align-content: space-between;
                        -ms-flex-line-pack: justify;
                    align-content: space-between;
            }
            /* align-content: space-around*/
            .al-c-around{
                -webkit-align-content: space-around;
                        -ms-flex-line-pack: distribute;
                    align-content: space-around;
            }
            /* align-content: stretch*/
            .al-c-stretch{
                -webkit-align-content: stretch;
                        -ms-flex-line-pack: stretch;
                    align-content: stretch;
            }

        /*==========>>  3.7.      LINKS   <<==========*/

            * a,
            * button{
                @include transition(all,  0.7s, ease);

                &:hover{
                   @include transition(all,  0.1s, ease);
                }

            }
            a:not([class]){
                color: inherit;

                &:hover{
                    color: color('blue2');
                }
            }

            [data-popup]{cursor: pointer;}


            [class*="link-"]{
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }

            .link_bd{
                font-size: 15px;
                line-height: 19px;
                font-weight: 700;
                border-bottom: 1px solid #d5d7dc;
                text-decoration: none;
            }
            .link_bd2{
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
                border-bottom: 1px solid #7f7f7f;
                text-decoration: none;
            }

            .link-icon{
                position: relative;
                margin-left: 20px;

                & img {
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
            }

            .link-size {
                font-size: 12px;
                line-height: 1.2;
            }
            .link-size2 {
                font-size: 18px;
                line-height: 1.2;
            }

            .link-lg{
                margin-left: 32px;
                & img{
                    left: -32px;
                }
            }


            .link-blue{
                color: color('blue');
            }


            .link-blue2{
                color: color('blue2');
            }


            .link-blue3{
                color: color('blue3');
            }

            .link-black{
                color: color('default');
            }

            .link-black2{
                color: color('black');
            }
            .link-red{
                color: color('red');
                
                &.link_bd{
                    border-bottom-color: #F9D2D3;
                }
            }

            .bb_city{
                border-bottom: 1px solid #a3a3a3;
            }

            [class*="btn_"]{
                padding: 11px 32px 9px;
                font-size: 15px;
                line-height: 1.2;
                font-weight: 500;
                border: 1px solid;
                text-align: center;
                -webkit-border-radius: 3px;
                        border-radius: 3px;
            }


            .btn_size{
                padding: 11px 47px 9px;
            }
            .btn_size2{
                padding: 10px 38px;
            }


            .btn_size_1{
                padding: 10px 16px;
            }

            .btn_blue {
                color: color("blue");
                border-color: color('blue');
                &:hover{
                    color: color('white');
                    border-color: color('blue');
                    background-color: color('blue');
                }
            }
            .btn_blue2{
                background: color("blue");
                border-color: color('blue');
                color: color("white");
                &:hover{
                    color: color('blue');
                    border-color: color('blue');
                    background-color: color('white');
                }
                &.btn_step-left{
                    border: none;
                    background: transparent;
                    span.arr{
                        &:before{
                            border-color: color("blue");
                            background: color("blue");
                        }
                    }
                    span:not([class]){
                        border: 1px solid color("blue");
                        background: color("blue");
                    }

                    &:hover{
                        color: color('blue');
                        background: transparent;
                        span.arr{
                            &:before{
                                border-color: color('blue');
                                background: transparent;
                            }
                        }
                        span:not([class]){
                            border-color: color("blue");
                            border-left-color: transparent;
                            background: transparent;
                        }
                    }
                }
                &.btn_step-right{
                    border: none;
                    background: transparent;
                    span.arr{
                        &:after{
                            border-color: color("blue");
                            background: color("blue");
                        }
                    }
                    span:not([class]){
                        border: 1px solid color("blue");
                        background: color("blue");
                    }

                    &:hover{
                        color: color('blue');
                        background: transparent;
                        span.arr{
                            &:after{
                                border-color: color('blue');
                                background: transparent;
                            }
                        }
                        span:not([class]){
                            border-color: color("blue");
                            border-right-color: transparent;
                            background: transparent;
                        }
                    }
                }
            }
            .btn_bd_blue{
                border-color: color("blue");
                color: color('blue');
                 &:hover{
                    color: color('white');
                    border-color: color('blue');
                    background-color: color('blue');
                }
                &.btn_step-left{
                    border: none;
                    span.arr{
                        &:before{
                            border-color: color("blue");
                        }
                    }
                    span:not([class]){
                        border: 1px solid color("blue");
                        border-left-color: transparent;
                    }
                    &:before{
                        border-color: color("blue");
                    }
                    &:hover{
                        color: color('white');
                        background-color: transparent;
                         
                        span:not([class]){
                            border: 1px solid color("blue");
                            border-left-color: transparent;
                            background-color: color('blue');
                        }
                        span.arr{
                            &:before{
                                border-color: color("blue");
                                background-color: color('blue');
                            }
                        }
                    }
                }
                &.btn_step-right{
                    border: none;
                    span.arr{
                        &:after{
                            border-color: color("blue");
                        }
                    }
                    span:not([class]){
                        border: 1px solid color("blue");
                        border-right-color: transparent;
                    }
                    &:after{
                        border-color: color("blue");
                    }
                    &:hover{
                        color: color('white');
                        background-color: transparent;
                         
                        span:not([class]){
                            border: 1px solid color("blue");
                            border-right-color: transparent;
                            background-color: color('blue');
                        }
                        span.arr{
                            &:after{
                                border-color: color("blue");
                                background-color: color('blue');
                            }
                        }
                    }
                }
            }

            [class*="btn_step"]{
                position: relative;
                overflow: hidden;
                -webkit-border-radius: 0;
                        border-radius: 0;
                padding: 0;
                span:not([class]){
                    padding: 11px 46px 9px;
                }
                span.arr{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 10px;
                    height: 100%;
                    overflow: hidden;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        z-index: 1;
                        height: 40px;
                        width: 40px;
                        border: 1px solid;
                        -webkit-transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
                            -ms-transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
                                transform: rotate(45deg) skew(24deg, 24deg) translateY(-50%);
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        z-index: 1;
                        height: 40px;
                        width: 40px;
                        border: 1px solid;
                        -webkit-transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
                            -ms-transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
                                transform: rotate(-45deg) skew(-24deg, -24deg) translateY(-50%);
                    }
                }
                
            }
            .btn_step-left{
                border-left-color: transparent;
                span:not([class]){
                    margin-left: 10px;
                }
                span.arr{
                    &:before{
                        left: -10px;
                    }
                    &:after{
                        display: none;
                    }
                }
            }
            .btn_step-right{
                border-right-color: transparent;
                span:not([class]){
                    margin-right: 10px;
                }
                span.arr{
                    left: auto;
                    right: 0;
                    &:before{
                        display: none;
                    }
                    &:after{
                        right: -10px;
                    }
                }
            }




        /*==========>>  3.8.     TITLES   <<==========*/

            h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
                margin-bottom: 30px;
                font-family:'SF UI Display';
                line-height: 1.2;
                font-weight: 700;
                color: color('black');
            }

            h1,.h1{
                font-size: 35px;
            }
            h2,.h2{
                font-size: 30px;
            }
            h3,.h3{
                font-size: 25px;
            }
            h4,.h4{
                font-size: 21px;
            }
            h5,.h5{
                font-size: 18px;
                line-height: 1.1;
            }
            h6,.h6{
                font-size: 15px;
                line-height: 19px;
            }

            .italic {
                /* margin-top: 5px;*/
                margin-top: 15px;
                font-size: 15px;
                line-height: 22px;
                font-weight: 300;
                font-style: italic;
                color: color('default');
                
                &.mxw460{
                    max-width: 460px;
                }
            }

            .mt15{margin-top: 15px;}

            .mb14{margin-bottom: 14px;}
            .mb15{margin-bottom: 15px;}
            .mb20{margin-bottom: 20px;}
            .mb25{margin-bottom: 25px;}
            .mb30{margin-bottom: 30px;}
            .mb40{margin-bottom: 40px;}
            .mb43{margin-bottom: 43px;}
            .mb45{margin-bottom: 45px;}
            .mb50{margin-bottom: 50px;}

            .ml44{margin-left: 44px;}

            .mr15{margin-right: 15px;}
            .mr-57{margin-right: -57px;}

            .title-icon{
                margin-bottom: 40px;
                font-size: 30px;
                line-height: 1.2;
                font-weight: 700;
                text-align: center;

                > *{
                    vertical-align: middle;
                }
                img{
                    margin-right: 11px;
                }
            }

            p:not(:last-child){
                margin-bottom: 13px;
            }


            ul:not([class]){
                font-size: 12px;
                line-height: 1.2;

                li{

                    &:not(:last-child){
                        margin-bottom: 14px;
                    }
                }
            }

            .tdn{text-decoration: none !important;}

        /*==========>>  3.9.     FONTS   <<==========*/

            .lt{font-weight: 300;}
            .reg{font-weight: 400;}
            .md{font-weight: 500;}
            .bd{font-weight: 700;}

        /*==========>>  3.10.     TEXTAFIELD   <<==========*/

            /*===  input  ===*/

            .error_message{
                color: red;
                // position: absolute;
                /* top: 98%;*/
                /* left: 0;*/
                font-size: 12px;
                line-height: 1.2;
            }

            .form_input.error_message,
            .form_textarea.error_message {
                position: static;
            }

            input,
            textarea {
                @include placeholder {
                    @include transition( all, 0.5s, ease);
                    /* color: color('default');*/
                    color: #888;
                }

                &:focus{
                    @include placeholder {
                        color: transparent;
                    }
                }
            }

        /*==========>>  3.11.     PRELOADER   <<==========*/

            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: color('blue');
                z-index: 100500;

                .preloader {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width:35px;
                    height:35px;
                    margin-top: -17.5px;
                    margin-left: -17.5px;
                    display:inline-block;
                    padding:0px;
                    -webkit-border-radius:100%;
                            border-radius:100%;
                    border:2px solid;
                    border-top-color:rgba(0,0,0, 0.65);
                    border-bottom-color:rgba(0,0,0, 0.15);
                    border-left-color:rgba(0,0,0, 0.65);
                    border-right-color:rgba(0,0,0, 0.15);
                    -webkit-animation: preloader 0.8s linear infinite;
                    animation: preloader 0.8s linear infinite;
                }
            }

            @keyframes preloader {
               from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
            }
            @-webkit-keyframes preloader {
               from {-webkit-transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);}
            }


        /*==========>>  3.12.     COLOR   <<==========*/
            .white_color{
                color: color('white');
            }
            .blue_color{
                color: color('blue');
            }
            .orange_color{
                color: color('orange');
            }
            .bg_grey {
                background-color: color('grey_lite');
            }
            .bg_blue {
                background-color: color('blue');
            }
