 /* regions *//**/
.regions {
    padding-top: 50px;
}
.mb_regions {
    margin-top: 45px;
}

ul.list_regions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    a{
        display: inline-block;
        padding: 5px 10px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        &.current,
        &:hover{
            color: color('blue');
            text-decoration: none;
        }
    }
    li {
        width: 190px;
        margin-bottom: 25px;
        cursor: pointer;
        &.current{
            a,a:hover{
                text-decoration: none;
                color: color('white');
                background-color: color('blue');
            }
        }
    }
}
ul.list_city {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
        padding-right: 20px;
        width: 230px;
        margin-bottom: 30px;
        text-decoration: none;
        a{
            display: inline-block;
            padding: 5px;
        }
        &.current{
            a, a:hover{
                text-decoration: none;
                color: color('white');
                background-color: color('blue');
                -webkit-border-radius: 3px;
                        border-radius: 3px;
            }
        }
    }
    .link-black2{
        &.current,
        &:hover{
            color: color('blue');
        }
    }
    .link_bd2{
        &.current,
        &:hover{
            border-bottom-color: transparent;
        }
    }

}

ul.list_company {

    li {
        &:not(:last-child){
            margin-bottom: 20px;
        }

        .first_tible {
            width: 180px;
            padding-right: 10px;
            float: left;
            color: #606060;
        }
        .second_tible {
            text-align: left;
            overflow: hidden;
            color: color("black");
        }
    }
}
.feed_back {
    .title_feed_back {
        margin-bottom: 25px;
        font-weight: 500;
        color: color('blue');
    }
}

.title_regions {
    margin-top: 15px;
    font-weight: 500;
    color: color('default');
}

.bd_lf {
    border-left: 2px solid #4a5677;
    p {
        padding-left: 12px;
    }
}

.text_regions {
    margin-top: 45px;
}

.feed_back_wrap {
    /* margin-top: 25px;*/
    margin-top: -18px;
    margin-bottom: 45px;
    .row{
        [class*="col"]{
            margin-top: 43px;
        }
    }
}



/* end of regions */

.tab_ragion_list {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 276px;

    li {
        width: 50.2%;
        float: left;
        margin-top: -1px;
        margin-bottom: -1px;
        margin-left: -1px;
        padding: 12px 0px;
        font-size: 15px;

        &:last-child {
            margin-right: -1px;
            margin-left: 0;
        }
        &.active {
            -webkit-border-radius: 3px;
            border-radius: 3px;
            background: color('blue');
            color: color('white');
        }
    }
}

.ymap {
    width: 100%;
    height: 593px;
}

/* public */

.main_ribbons {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.ribbon {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

    &-1 {
        z-index: 10;
    }
    &-2 {
        z-index: 5;
    }
    &:not(:first-child){
        margin-left: -30px;
        p{
            padding: 0 5px 0 30px;
        }
    }
    p{
        position: relative;
        margin-right: 26px;
        padding-right: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        background: #F4F4F4;
        color: #495678;
        border: 1px solid #A6A6A6;
        border-right: none;
        span{
            display: block;
            overflow: hidden;
            white-space: nowrap;

        }
        &:before,
        &:after {
            content: "";
            right: -52px;
            z-index: 99;
            top: 50%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:before {
            border-color: rgba(166, 166, 166, 0);
            border-left-color: #a6a6a6;
            border-width: 26px;
            margin-top: -26px;
        }
        &:after {
            right: -51px;
            border-color: rgba(244, 244, 244, 0);
            border-left-color: #F4F4F4;
            border-width: 26px;
            margin-top: -26px;
        }
    }

    &:hover {

        p{
            background: #495678;
            color: white;

            &:after {
                border-left-color: #495678;
            }
        }

    }

    &.active {
        p{
            background: #495678;
            color: white;
            &:after {
                border-left-color: #495678 !important;
            }
        }
    }
}

.public{
    padding-top: 43px;
    .container-fluid{
        display: block;
    }
}

/* form*/
.first_form{
    margin-bottom: 50px;
    counter-reset: number;
    &.view2{
        .public_container {
            .form_textarea{
                min-height: 150px;
            }
        }
        .form_step_box{
            display: none;
        }
        .form_main_wrap{
            &+.form_wrap{
                .form_step_box{
                    .form_left-step{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .form_left-step,
    .form_right-step{
        &.hidden{
            opacity: 0;
            visibility: hidden;
        }
    }
    &.steps_form{
        .form_step_container> .form_wrap,
        >.form_wrap{
            position: absolute;
            left: 0;
            opacity: 0;
            visibility: hidden;
            &.organization_created/*.js-form_wrap*/.form_turn{
                display: block;
            }
        }
        >/*.js-form_wrap*/.form_turn{
            display: block;
        }
        .form_step_box {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }
}
.form_title_step span[data-number]:before{
    counter-increment: number;
    content: counter(number) ". ";
}

/* .js-stickyField{*/
/*     &.sticky{*/
/*         .public_container_item{*/
/*             padding: 10px 0;*/
/*             -webkit-transition: padding ease 0.5s;*/
/*                  -o-transition: padding ease 0.5s;*/
/*                     transition: padding ease 0.5s;*/
/*         }*/
/*         .public_container {*/
/*             padding-bottom: 15px;*/
/*             -webkit-transition: padding ease 0.5s;*/
/*                  -o-transition: padding ease 0.5s;*/
/*                     transition: padding ease 0.5s;*/
/*             .form_textarea{*/
/*                 min-height: 90px;*/
/*                 resize: none;*/
/*                 -webkit-transition: min-height ease 0.5s;*/
/*                  -o-transition: min-height ease 0.5s;*/
/*                     transition: min-height ease 0.5s;*/
/*             }*/
/*         }*/
/*     }*/
/* }*/

.form_step_box{
    display: none;
    /* margin-top: 50px;*/
    -webkit-justify-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
            justify-content: space-between;
}

.form_main_wrap{
    .form_wrap{
        display: block !important;

    }
}
.form_wrap{
    &.step_box.active{
        /* display: block !important;*/
        /* width: auto !important;*/
        position: static !important;
        opacity: 1 !important;
        visibility: visible !important;

        &[class*="order-"]:not(.full){
            -ms-flex-order: -1;
            -webkit-order: -1;
            -webkit-box-ordinal-group: 0;
            order: -1;
        }
        &.col-lg-12.form_wrap:not(.full){
            -webkit-box-flex: 0;
            -ms-flex: 0 0 41.666667%;
            -webkit-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
            [class*="col"]{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                -webkit-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-left: 0;
            }
            .ml44 {
                margin-left: 0;
                margin-right: -57px;
            }
        }
    }
}
.form_textarea.error_message,
.form_input.error_message{
    border-color: red;
    background: #fbe4e5;
}
.jq-selectbox{
    &.error_message{
        position: relative;
        .jq-selectbox__select{
            border-color: red;
            background: #fbe4e5;
        }
        &.changed{
            .jq-selectbox__select{
                background: #FFF;
                border-color: #D4D4D4;
            }
        }
    }
}

/* select start*/
.form_select{
    .select2-container{
        width: 100% !important;
    }
}
.select2-container{
    line-height: 0;
}
.select2-results__option{
    line-height: 1.2;
}
    .selection{
        display: block;
    }
.select_wrap{
    max-width: 507px;
    width: 100%;
    .selection{
        display: block;
    }
}
.select2-container--default .select2-selection--single{
    padding: 8px 45px 8px 20px;
    height: auto;
    background: #FFF;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #D4D4D4;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 0;
    font-family: 'SF UI Display';
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: #414246;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    b{
        left: auto;
        right: 12px;
        width: 18px;
        height: 20px;
        margin-top: -10px;
        margin-left: 0;
        border: none;
        background: url(../images/arrow_down.png) 50% 50% no-repeat;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #eaeeee;
    color: #000;
}
/* select end*/
.authorized-form{
    margin-left: 35px;
}
.form_row_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;

    .form_row {
        width: -webkit-calc(50% - 3px);
        width: calc(50% - 3px);
        margin-bottom: 0;
        &:not(:last-child){
            margin-bottom: 0;
        }
    }

    /* .form_input {*/
    /*     width: 100%;*/
    /*     display: -webkit-box;*/
    /*     display: -webkit-flex;*/
    /*     display: -ms-flexbox;*/
    /*     display: flex;*/
    /* }*/
}
.form_row_3col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;

    .form_row {
        width: -webkit-calc(33.3% - 3px);
        width: calc(33.3% - 3px);
        margin-bottom: 0;
        &:not(:last-child){
            margin-bottom: 0;
        }
    }
}
.form_link_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    >a {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.form_label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'SF UI Display';
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #606060;
    &.ml10{
        margin-left: 10px;
    }
    &.required {
        &:after {
            content: '*';
            color: red;
        }
    }
}
.form_row {
    position: relative;
    &:not(:last-child){
        margin-bottom: 15px;
    }
}

.form_type{
    background-color: #DFE5EE;
    padding: 20px;
}

.form_textarea {
    width: 100%;
    /* padding: 17px 10px;*/
    padding: 10px 19px;
    resize: vertical;
    font-family: 'SF UI Display';
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    border: 1px solid #d4d4d4;
    color: #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    &.h70 {
        min-height: 70px;
    }
    &.h80 {
        min-height: 80px;
    }
    &.h82 {
        min-height: 82px;
    }
    &.h123 {
        min-height: 123px;
    }
    &.h173 {
        height: 173px;
        resize: none;
    }
    &[readonly]{
        background: #f1f1f1 !important;
    }
}

.form_input {
    width: 100%;
    height: 42px;
    padding: 0 19px;
    font-family: 'SF UI Display';
    font-size: 15px;
    line-height: 1.2;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: color('white');
    color: color('default');

    &.w52{
        width: 52px;
        height: 38px;
        text-align: center;
        padding: 0 5px;
    }
    &.w75{
        width: 75px;
        padding: 0 5px;
    }
    &.w100{
        width: 100px;
    }
    &.ml15{
        margin-left: 15px;
    }
    &.input_hide{
        display: none;
    }
}

.form-btn-search {
    position: absolute;
    top: 50%;
    right: 23px;
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    border: none;
}

.jq-radio {
    width: 25px;
    height: 25px;
    background: color("white");
    border-color: #D4D4D4 !important;
    &.checked .jq-radio__div {
        height: 9px;
        width: 9px;
        margin: 7px 0 0 7px;
        background: color("blue");
    }
    + .form_label{

        overflow: hidden;
        margin-left: 43px;
        cursor: pointer;
        display: block;
    }
    &.radio_flex{
        float: left;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
    }
}

.checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    width: 45px;
    height: 25px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background: color("blue");
    cursor: pointer;
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        line-height: 34px;
        text-indent: 40px;
        height: 21px;
        width: 21px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        top: 2px;
        left: 2px;
        right: auto;
        background: white;
    }
}

.toggle_box {
    width: 45px;
    margin: 0 20px;
}

#toggle-checkbox {
    display: none;
    &:checked + .checkbox-label {
        /* background: #A6A6A6;*/
        &:before {
            left: auto;
            right: 2px;
        }
    }
}

.ckeckForm{
    cursor: pointer;
}
.sticky .stickyWrap{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 99;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.public_container {
    padding: 0 30px 28px;
    background: color('blue');
    .form_textarea {
        padding: 20px 13px;
        line-height: 24px;
        min-height: 750px;
        resize: vertical;
        background: color("white");
    }
}

.public_container_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
            align-items: center;
    background: color("blue");
    color: color("white");
    padding: 18px 0;
    >*{
        white-space: nowrap;
    }

    .form_row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0;
        margin-left: 40px;
    }
    .jq-checkbox{
        margin-right: 0;
    }
    .form_label {
        margin-bottom: 0;
        cursor: pointer;
        color: #F4F4F4;
    }
}
.public_title{
    font-weight: 500;
    margin-bottom: 0;
    color: color('white');
}

.coment_txt {
    font-size: 12px;
    line-height: 18px;
    color: #414246;
}

/* tooltip start*/
/*.js-tooltip*/ .prompt{
    position: absolute;
    z-index: 5;
    display: inline-block;
    top: 5px;
    right: 0;
    line-height: 0;
    cursor: pointer;
    &:hover {

        /*.js-tooltip_container*/.prompt_container {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateX(-13px) translateY(-50%);
            -ms-transform: translateX(-13px) translateY(-50%);
            transform: translateX(-13px) translateY(-50%);
        }
    }
}

/*.js-tooltip_container*/.prompt_container {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 215px;
    min-height: 34px;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: color('white');
    color: #414246;
    border: solid 1px #778293;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-25px) translateY(-50%);
    -ms-transform: translateX(-25px) translateY(-50%);
    transform: translateX(-25px) translateY(-50%);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &:before,
    &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: -5px;
        z-index: 1;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        background-color: color('white');
        border: 1px solid #778293;
    }
    &:before {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    &:after{
        right: -1px;
        background-color: color('white');
        border-color: color('white');
    }
}

/*.js-tooltip-wrap*/.prompt_wrap {
    position: relative;
    z-index: 5;
    padding: 3px 4px 3px 9px;
    background-color: color('white');
}

/* tooltip end*/

/* CHECK*/
.jq-checkbox{
    &.styler{
        min-width: 25px;
        height: 25px;
        background: color("white");
        border: 1px solid #d4d4d4;

        + .form_label{
            margin-left: 14px;
            margin-bottom: 0;
            cursor: pointer;
        }
    }
    &.checked{
        .jq-checkbox__div {
            width: 17px;
            height: 9px;
            margin: 5px 0 0 4px;
            color: color("blue");
        }
    }
}
/* CHECK end*/

.jq-selectbox__trigger {
    top: -10%;
}
.input-day{
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
/* .input-day,*/
.other_organization,
.accounting_docs,
.primary_publications,
.recipient,
.executive_agency,
.recipient2,
.additional_documents,
.organization_created,
.reprint,
.re-publish{
    display: none;

    &.active{
        display: block;
    }
}

/* .recipient{*/
/*     display: none;*/
/*     &.active{*/
/*         display: -webkit-box;*/
/*         display: -webkit-flex;*/
/*         display: -ms-flexbox;*/
/*         display: flex;*/
/*     }*/
/* }*/
/* form end*/
.footer_info_container{
    margin-bottom: 40px;
}
/* public end*/



.org_list_item:not(:last-child){
    margin-bottom: 10px;
}

.org_list_item{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    padding: 5px 25px 5px 5px;
    border: 1px solid #d4d4d4;
}

.org_list_edit{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('../images/icons/edit-icon.png') 0 0 no-repeat;
    cursor: pointer;
}