/* - - - - - - - - - - info_block - - - - - - - - - - */

.info_block{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	& img {
		margin-left: -15px;
	}
	& h3 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 0;
		color: color('blue');
	}
}
.info_block_txt {
	/* padding-left: 65px;*/
	& p:first-child {
		font-size: 15px;
		line-height: 30px;
		color: color('default');
		margin-bottom: 0;
	& span{
		font-size: 16px;
		line-height: 30px;
		color: color('red');
	}
	}
	& span:last-child {
		font-size: 15px;
		line-height: 25px;
		color: #414246;
	}
}


/* - - - - - - - - - -/ end of info_block - - - - - - - - - - */
.wary {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}

.wary_time {
	margin-bottom: 0;
    margin-right: 16px;
    white-space: nowrap;
	font-size: 15px;
	font-weight: 500;
    line-height: 1.2;
	color: color('white');

}

.wary_txt {
	padding-right: 30px;
	font-size: 12px;
	line-height: 1.2;
	color: color('white');
}

.wary-close {
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;

	img{
		vertical-align: middle;
	}
}

/* - - - - - - - - - - about_magazine - - - - - - - - - - */
.about_magazine {
	margin-bottom: 40px;
	margin-left: 67px;
}
.magazine_img{
	margin-right: -30px;
	margin-left: -20px;
}
.public_box{
	margin-left: 67px;
}
.public_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	        -webkit-flex-wrap: wrap;
	            -ms-flex-wrap: wrap;
	                flex-wrap: wrap;
	margin-top: -30px;
	li{

		&:not(:last-child){
			width: 33.3%;
		}

		a {
			margin-top: 30px;
			margin-bottom: 15px;
		}
		p {
			font-size: 12px;
			line-height: 18px;
			color: #414246;
		}
	}
}

/* - - - - - - - - - -/ end of about_magazine - - - - - - - - - - */

.edition_block {
	& p{
		margin-bottom: 40px;
	}
}

.edition_block_item{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 50px;
	h5{
		margin-bottom: 15px;
	}
	 p{
		margin-bottom: 15px;
	}
}

.edition_service {
	position: relative;
	a {
		margin-bottom: 23px;
	}
	.link_bd{
		font-weight: 300;

		&.md{
			font-weight: 500;
		}
	}
	&:not(:last-child):after {
		content: "";
		position: absolute;
		right: -50px;
		top: 0;
		height: 100%;
		border-right: 1px solid #edeef3;
	}
}

.edition_card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	& p{
		font-size: 12px;
		margin-right: 28px;
		line-height: 19px;
		margin-bottom: 0;
	}
	& img {
		margin-right: 18px;
		height: 20px;
	}
}



/* - - - - - - - - - - section_box - - - - - - - - - - */
.section_box {
	&:not(:last-child){
		margin-bottom: 37px;
	}
}

.sub_title {
	margin-bottom: 35px;
	padding: 0 25px;
	font-weight: 300;
	text-align: center;
	color: color('default');
}

.publications_list {

	& li{
		width: 34.2%;
		padding: 40px 10px 30px;
		text-align: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		cursor: pointer;
		position: relative;
		& li,h6 {
			margin-bottom: 15px;
		}
	}
	li.active {
		background-color: color('blue');
			.item_title{
				span{
					border-bottom: transparent;
				}
			}
		>*{
		color: color('white');
		}
		&:nth-child(2):before {
			display: none;
		}
		&:nth-child(2):after {
			display: none;
		}
	}
	li:nth-child(2):before,li:nth-child(2):after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -50px;
		height: 100px;
		border-right: 1px solid #edeef3;
		}

	li:nth-child(2):before {
		left: 0;
	}

	li:nth-child(2):after {
		right: 0;
	}


	.item_title{
		margin-bottom: 0;
	}
}

.item_title {
	font-size: 21px;
    line-height: 30px;
    font-weight: 500;
    color: color('blue');
    & span {
    	border-bottom: 1px solid #b0b3bf;
		display: inline;
    }
}


/* owl-carousel start*/
.carousel_box {
	background-color: color('blue');
}

.carousel_item {
	padding: 35px 104px 65px;
}

.owl-dots {
  text-align: center;
  line-height: 0;
  position: absolute;
  left: 50%;
  bottom: 27px;
}

.owl-dots > * {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #7d869d;
}

.owl-dots > *:not(:last-child) {
  margin-right: 17px;
}

.owl-dots > *:hover,
.owl-dots > *.active {
  background-color: #b0b5c2;
}

.owl-dots > *:hover:before,
.owl-dots > *.active:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 7px solid #b0b5c2;
}

/* owl-carousel end*/

/*select*/
.jq-selectbox {
    width: 100%;

    li {
	    padding: 5px 10px 6px 20px;
		font-size: 15px;
		line-height: 30px;
	    white-space: normal;
		font-weight: 400;
		cursor: pointer;
		color: color('black');
		&.selected,
		&:hover {
			background-color: #eaeeee;
			color: color('black');
		}
	}
	&.opened {
		.jq-selectbox__dropdown{
			-webkit-border-radius: 0 0 3px 3px;
			        border-radius: 0 0 3px 3px;
		}
		.jq-selectbox__select {
			color: #000;
			-webkit-border-radius: 3px 3px 0 0;
			        border-radius: 3px 3px 0 0;
		}
		.first_form &{
			li{
				font-weight: 300;
			}
			.jq-selectbox__select{
				border: 1px solid #D4D4D4;
			}
		}
	}
	&.focused {
		.jq-selectbox__select {
			border: none;
		}
		.first_form &{
			.jq-selectbox__select{
				border: 1px solid #D4D4D4;
			}
		}
	}
}

.jq-selectbox__trigger {
	border-left: none;
	top: -5%;

	&-arrow {
	    position: absolute;
	    top: 50%;
	    right: 12px;
	    width: 18px;
	    height: 20px;
	    background: url(../images/arrow_down.png);
	    background-repeat: no-repeat;
	    border: none;
	}
}

.jq-selectbox__dropdown {
    width: 100%;
    margin: 0;
    padding: 0;
	font-family:'SF UI Display';
    border: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;

    .first_form &{
		border: 1px solid #d4d4d4;
        -webkit-border-radius: 3px;
                border-radius: 3px;
	}
}

.jq-selectbox__select {
	padding: 8px 45px 8px 20px;
	height: auto;
	font-family:'SF UI Display';
	font-size: 15px;
	line-height: 24px;
	border: none;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	text-shadow: none;
	background: #FFF;
	color: color('default');
	&:hover{
		background: #FFF;
	}
	&:active{
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	&-text {
	    white-space: normal;
	    width: 100% !important;
	}

	.first_form &{
		border: 1px solid #D4D4D4;
		font-weight: 300;
	}
}

/*end select*/

/* tabs start*/
.publications_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
		li{
			text-align: center;
			cursor: pointer;
		}
}

/* .js-tabs,*/
.tabs-wrap{
	position: relative;
}
	/*.js-tabs-list*/
	.tabs_box{

		>div{
			display: none;
			padding: 35px 104px 65px;
		}
		.jq-selectbox__dropdown{
			top: 100% !important;
		}
		.form_row{
			margin-bottom: 27px;
		}
		.form_input_search{
			padding-right: 50px;
		}
	}

	/*.js-tabs-dots*/
	.tabs-point{
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 0;
		div{
			display: inline-block;
			width: 9px;
			height: 9px;
			margin: 0 5.5px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background-color: #7D869D;
			cursor: pointer;

			&.active{
				background-color: #B0B5C2;
			}
		}
	}



	ul:not([class]) li:not(:last-child) {
		margin-bottom: 0;
	}

	/* .sel{*/
	/* 	display: none;*/
	/* }*/

	.publications_title {
		text-align: center;
		& h6,h4 {
			color: color('white');
		}
	}


/* tabs end*/
/* - - - - - - - - - -/ end of section_box - - - - - - - - - - */






