    #footer {
        padding-top: 49px;
        padding-bottom: 64px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        background-color: color('white');
    }

        /* - - - - - - - - - - - - - footer_top - - - - - - - - - - - - - - - - */
        .footer_top{
            margin-bottom: 56px;
        }
            .footer_logo{
                font-size: 15px;
                line-height: 20px;
                font-weight: 700;
                color: color('blue');

                &>*{
                    vertical-align: middle;
                }

                img{
                    margin-right: 13px;
                }
            }

            .footer_magazin{
                font-size: 12px;
                line-height: 18px;
                color: color('grey');
            }


        /* - - - - - - - - - - - - - footer_middle - - - - - - - - - - - - - - - - */
        .footer_middle{
            margin-bottom: 48px;
        }

            .footer_box{

            }

                .footer_title{
                    margin-bottom: 21px;
                    font-weight: 500;
                    a{
                        font-weight: 500;
                        color: color('black');
                    }
                }

                .footer_list{
                    font-size: 12px;
                    line-height: 1.2;

                    li{
                        & a{
                            color: #000000;
                        }

                        &:not(:last-child){
                            margin-bottom: 14px;
                        }
                    }
                }


        /* - - - - - - - - - - - - - footer_bottom - - - - - - - - - - - - - - - - */
        .footer_bottom{

        }

            .footer_info{
                text-align: center;
                font-size: 12px;
                line-height: 18px;
                color: color('grey');
            }
                .form_limit{
                    margin-bottom: 18px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 40px;
                    height: 40px;
                    font-size: 15px;
                    line-height: 38px;
                    font-weight: 500;
                    text-align: center;
                    color: color('black');
                    border: 1px solid color('black');
                    -webkit-border-radius: 50px;
                            border-radius: 50px;
                }