//- block vars
footer(id="footer" class=footerClasses)

	// - - - - - - - - - - - - - footer_top - - - - - - - - - - - - - - - -
	section.footer_top
		.container
			.row

				.col-xl-4.col-lg-5
					a.footer_logo(href="index.html")
						img(src="images/footer_logo.png", alt="")
						span Вестник <br>государственной <br>регистрации

				.col-xl-8.col-lg-7
					.footer_magazin
						p Журнал «Вестник государственной регистрации» зарегистрирован в Федеральной службе по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор), свидетельство ПИ NoФС77­45807 от 15 июля 2011 г
						p
							| Учредители:
							a.link-blue3(href="javascript:;") Федеральная Налоговая Служба РФ
							| ,
							a.link-blue3(href="javascript:;") ООО «Коммерсантъ КАРТОТЕКА»

	// - - - - - - - - - - - - - End of footer_top - - - - - - - - - - - - - - - -

	// - - - - - - - - - - - - - footer_middle - - - - - - - - - - - - - - - -
	section.footer_middle
		.container
			.row
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title Публикация
						ul.footer_list
							li
								a(href="javascript:;") О существенных фактах
							li
								a(href="javascript:;") О банкротстве
							li
								a(href="javascript:;") Об отмене доверенностей
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title Помощь
						ul.footer_list
							li
								a(href="javascript:;") Порядок действий
							li
								a(href="javascript:;") Видео­инструкции
							li
								a(href="javascript:;") FAQ
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title Проекты
						ul.footer_list
							li
								a(href="javascript:;") Сведения о госрегистрации
							li
								a(href="javascript:;") Проверка и мониторинг контрагентов
							li
								a(href="javascript:;") Инфографика
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title Новости
						ul.footer_list
							li
								a(href="javascript:;") Новости редакции
							li
								a(href="javascript:;") Новости компаний
							li
								a(href="javascript:;") Подписка
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title О редакции
						ul.footer_list
							li
								a(href="javascript:;") О журнале
							li
								a(href="javascript:;") Свидетельства и лицензии
							li
								a(href="javascript:;") Нормативные акты
				.col-lg-2.col-md-4.col-sm-6
					.footer_box
						h6.footer_title Контакты
						ul.footer_list
							li
								a(href="javascript:;") Как нас найти
							li
								a(href="javascript:;") Обратная связь

	// - - - - - - - - - - - - - End of footer_middle - - - - - - - - - - - - - - - -

	// - - - - - - - - - - - - - footer_bottom - - - - - - - - - - - - - - - -
	section.footer_bottom
		.container
			.row
				.col-xl-12.col-md-12.col-sm-12.col-xs-12
					.footer_info
						.form_limit 16+
						div: a.link-blue2(href="javascript:;") Политика в отношении обработки и защиты персональных данных
						span Copyright (c) 2018

	// - - - - - - - - - - - - - End of footer_bottom - - - - - - - - - - - - - - - -