//- block vars
section.banner
	img(src="images/banner.jpg")


header#header(class=headerClasses)


	div.container
		.row.align-items-center
			.col-xl-10.col-lg-9.col-md-9.col-sm-8.col-5

				//- // - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - -

				//- div(class="logo")
				//- 	a(href="index.html") Sitename hereimg
				//- 		img(src="images/logo.png", alt="")

				//- // - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - -

				//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - -

				nav(id="primary_nav" class="navigation_menu")
					menu(id="menu" class="menu")
						li(class="menu_item current")
							<a class="menu_link" href="index.html">Публикация</a>
						li(class="menu_item")
							<a class="menu_link" href="javascript:;">Помощь</a>
							ul.menu_lv2
								li
									a(href="javascript:;") Порядок действий по публикации
								li
									a(href="javascript:;") Видеоинструкции по публикации сообщений
								li
									a(href="javascript:;") Электронная подпись в Google Chrome
								li
									a(href="javascript:;") Электронная подписать в Internet Explorer
								li
									a(href="javascript:;") Часто задаваемые вопросы
								li
									a(href="javascript:;") Регламент оказания технической поддержки
								li
									a(href="javascript:;") Программное обеспечение

						li(class="menu_item")
							<a class="menu_link" href="javascript:;">Проекты</a>
						li(class="menu_item")
							<a class="menu_link" href="javascript:;">Новости</a>
						li(class="menu_item")
							<a class="menu_link" href="javascript:;">О редакции</a>
						li(class="menu_item")
							<a class="menu_link" href="javascript:;">Контакты</a>
						li(class="menu_item")
							<a class="menu_link" href="javascript:;">Представительства в регионах</a>

				.js-btn-menu.set_menu
					span
						h5 Меню

			.col-xl-2.col-lg-3.col-md-3.col-sm-4.col-7
				div.box_link
					a.region_link(href="javascript:;")
						i: img(src="images/icons/lk_icon.png", alt="")
						| Личный кабинет
					a.lk_link(href="javascript:;")
						i: img(src="images/icons/marker_icon.png", alt="")
						| Выбрать свой регион


					//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - -