extends ../pug/templates/main

block vars
	- var title = "Главная страница";
	//- - var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];





block content
	section.indent_box
		div.container-fluid
			.row.align-items-md-center
				.col-xl-4.col-lg-5.col-md-5
					a(href="index.html").info_block
						img(src="images/vestnik-main.png", alt="")
						h3.bd Вестник государственной регистрации
				.col-xl-7.offset-md-1.col-lg-6.col-md-6
					div.info_block_txt
						p Остается <span class="md">3 дня и 10 часов</span> до окончания приема сообщений в номер
						p Текущий номер: <span class="md">7 (672) от 21 февраля 2018 г.</span>
	// Content Start     ============================================
	main#content

		// - - - - - - - - - - - - - wary - - - - - - - - - - - - - - - -

		div(class="wary_section indent_box_1 bg_blue")
			div.container.wary
				div.wary_time Уважаемые заявители!
				div.wary_txt Обращаем ваше внимание на то, что 7 марта 2018 года редакция журнала "Вестник государственной регистрации" будет работать до 17.00
				div.wary-close
					img(src="images/close.png", alt="")

		// - - - - - - - - - - - - - End of wary - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - -about magazine - - - - - - - - - - - - - - - -
		section(class="magazine bg_grey indent_box_2")
			div.container
				.row
					.col-lg-4
						div.magazine_img
							img(src="images/vestnik-magazine.png", alt="")
					.col-lg-8
						div.about_magazine
							h5.md Кратко о журнале
							p Журнал «Вестник государственной регистрации» — специализированное средство массовой информации, выходящее с 2004 года, предоставляет возможность всем заинтересованным лицам своевременно из одного источника получать официальную информацию налоговых органов и российских предприятий и организаций, которую они обязаны публиковать в соответствии с  законодательством.
						div.public_box
							h5.md Публикуете сообщение в первый раз?
							ul.public_list
								li
									a.link-blue.link_bd(href="javascript:;") Порядок действий
									p Мы составили для вас подробное<br> пошаговое руководство по<br> публикации.
								li
									a.link-blue.link_bd(href="javascript:;") Видеоинструкция
									p Посмотрите видеоролики<br> с наглядными примерами.
								li
									a.link-blue.link_bd(href="javascript:;") Частые вопросы
									p Ознакомьтесь со списком<br> наиболее популярных вопросов.<br> Возможно, среди них есть и ваш.
								li
									a.link-blue.link_bd(href="javascript:;") Проверить электронную подпись


		// - - - - - - - - - - - - - End about magazine - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - -section_container - - - - - - - - - - - - - - - -
		section(class="indent_box_4 section_container")
			div.section_box.container
				h2.title-icon
					img(src="images/icons/tv_icon.png", alt="")
					span Публикация сообщения
				h6.sub_title Выберите необходимый тип сообщения для публикации в журнале из предложеного списка и заполните форму заявки.
				.js-tabs.tabs-wrap
					ul.js-tabs-list.publications_list
						li.active
							h6.md Вестник государственной регистрации
							h4.item_title
								span О существенных фактах
						li
							h6.md Коммерсантъ
							h4.item_title
								span О банкротстве
						li
							h6.md Коммерсантъ
							h4.item_title
								span Об отмене доверенностей

					.js-tabs-box.bg_blue.tabs_box.js-swipe
						div
							div.publications_title
								h6.md Вестник государственной регистрации
								h4 О существенных фактах
							select.styler
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
								option О ликвидации юридических лиц
								option О реорганизации юридических лиц в форме преобразования
								option О реорганизации юридических лиц в форме выделения
								option О реорганизации юридических лиц в форме разделения
								option О реорганизации юридических лиц в форме присоединения
								option О реорганизации юридических лиц в форме слияния
								option Об уменьшении уставного капитала юридически лиц
								option О приобретении более 20% уставного капитала юридических лиц
								option Сведения о чистых активах юридических лиц
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
						div
							div.publications_title
								h6.md Коммерсантъ
								h4 О банкротстве
							select.styler
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
								option О ликвидации юридических лиц
								option О реорганизации юридических лиц в форме преобразования
								option О реорганизации юридических лиц в форме выделения
								option О реорганизации юридических лиц в форме разделения
								option О реорганизации юридических лиц в форме присоединения
								option О реорганизации юридических лиц в форме слияния
								option Об уменьшении уставного капитала юридически лиц
								option О приобретении более 20% уставного капитала юридических лиц
								option Сведения о чистых активах юридических лиц
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
						div
							div.publications_title
								h6.md Коммерсантъ
								h4 Об отмене доверенностей
							select.styler
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
								option О ликвидации юридических лиц
								option О реорганизации юридических лиц в форме преобразования
								option О реорганизации юридических лиц в форме выделения
								option О реорганизации юридических лиц в форме разделения
								option О реорганизации юридических лиц в форме присоединения
								option О реорганизации юридических лиц в форме слияния
								option Об уменьшении уставного капитала юридически лиц
								option О приобретении более 20% уставного капитала юридических лиц
								option Сведения о чистых активах юридических лиц
								option Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
					.js-tabs-dots.tabs-point

			div.section_box.container
				h2.title-icon
					img(src="images/icons/search_icon2.png", alt="")
					span Поиск сообщений
				h6.sub_title Введите в поисковую строку полное наименование компании, ИНН или ОГРН
				.js-tabs.tabs-wrap
					ul.js-tabs-list.publications_list
						li.active
							h6.md Вестник государственной регистрации
							h4.item_title
								sapn О существенных фактах
						li
							h6.md Коммерсантъ
							h4.item_title
								span О банкротстве
						li
							h6.md Коммерсантъ
							h4.item_title
								span Об отмене доверенностей

					.js-tabs-box.bg_blue.tabs_box.js-swipe
						div
							div.publications_title
								h6.md Вестник государственной регистрации
								h4 О существенных фактах
							form
								.form_row
									input.form_input.form_input_search(type="text" placeholder="ИП Сечин Игорь Иванович")
									button.form-btn-search: img(src="images/icons/search_icon.png", alt="")
								.form_captcha
									img(src="images/captcha.jpg", alt="")
						div
							div.publications_title
								h6.md Коммерсантъ
								h4 О банкротстве
							form
								.form_row
									input.form_input.form_input_search(type="text" placeholder="ИП Сечин Игорь Иванович")
									button.form-btn-search: img(src="images/icons/search_icon.png", alt="")
								.form_captcha
									img(src="images/captcha.jpg", alt="")
						div
							div.publications_title
								h6.md Коммерсантъ
								h4 Об отмене доверенностей
							form
								.form_row
									input.form_input.form_input_search(type="text" placeholder="ИП Сечин Игорь Иванович")
									button.form-btn-search: img(src="images/icons/search_icon.png", alt="")
								.form_captcha
									img(src="images/captcha.jpg", alt="")
					.js-tabs-dots.tabs-point

		// - - - - - - - - - - - - -end section_container - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - edition - - - - - - - - - - - - - - - -
		section(class="edition bg_grey indent_box_3")
			div.container
				h2.title-icon
					img(src="images/cover.png", alt="")
					span Подписка на издание

				.row
					.col-xl-3.col-lg-3.offset-lg-1
						div.edition_img
							img(src="images/mersedes.jpg", alt="")
					.col-xl-7.col-lg-8
						div.edition_block
							p Журнал «Вестник государственной регистрации» ­ это единый орган печати, который, в отличие от прежних лет, характеризующихся по данной проблеме отсутствием определенного печатного органа, централизованно публикует сведения из единого государственного реестра юридических лиц, а также сообщения юридических лиц по всей территории Российской Федерации.
							h5.md Оформить подписку
							div.edition_block_item

								div.edition_service
									h5: a.md.link-blue.link_bd(href="javascript:;") Печатная версия
									p Еженедельное печатное издание журнала<br> с доставкой в ваш офис курьером или<br> почтовой службой
									a.link-black.link_bd.link-icon.lt(href="javascript:;")
										img(src="images/icons/link_icon.png", alt="")
										| Посмотреть цены
									div
										a.btn_size_1.btn_blue(href="javascript:;") Оставить заявку

								div.edition_service
									h5: a.md.link-blue.link_bd(href="javascript:;") Электронная версия
									p Электронная версия «Вестника» будет<br> отправляться на электронную почту в<br> формате PDF
									a.link-black.link_bd.link-icon.lt(href="javascript:;")
										img(src="images/icons/link_icon.png", alt="")
										| Посмотреть цены
									div
										a.btn_size_1.btn_blue(href="javascript:;") Оставить заявку

							div.edition_card
								p Принимаем к оплате
								img(src="images/icons/pp.png", alt="")
								img(src="images/icons/ms_vrt_pos.png", alt="")
								img(src="images/icons/mc_c.png", alt="")
								img(src="images/icons/visa_icon.png", alt="")
								img(src="images/icons/h-logo.svg", alt="")


		// - - - - - - - - - - - - - end edition - - - - - - - - - - - - - - - -


	// Content End       ============================================


//- Content End       ============================================