extends ../pug/templates/main

block vars
	- var title = "Public";
	//- - var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];


//- Content Start     ============================================


block content
	section.indent_box
		div.container-fluid
			.row.align-items-md-center
				.col-xl-4.col-lg-5.col-md-5
					a(href="index.html").info_block
						img(src="images/vestnik-main.png", alt="")
						h3.bd Вестник государственной регистрации
				.col-xl-7.offset-md-1.col-lg-6.col-md-6
					div.info_block_txt
						p Остается <span class="md">3 дня и 10 часов</span> до окончания приема сообщений в номер
						p Текущий номер: <span class="md">7 (672) от 21 февраля 2018 г.</span>
	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - promo - - - - - - - - - - - - - - - -

		div(class="wary_section indent_box_1 bg_blue")
			div.container.wary
				div.wary_time Уважаемые заявители!
				div.wary_txt Обращаем ваше внимание на то, что 7 марта 2018 года редакция журнала "Вестник государственной регистрации" будет работать до 17.00
				div.wary-close
					img(src="images/close.png", alt="")

		// - - - - - - - - - - - - - End of promo - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - regions - - - - - - - - - - - - - - - -
		section(class="public")
			
			h1.mb55.al_center  Публикация сообщений о существенных фактах
			.container
				div.main_ribbons
					div.ribbon.ribbon-1.active 
						p: span 1.Заполнение заявки
					div.ribbon.ribbon-2 
						p: span 2.Получение счета и подача документов
					div.ribbon.ribbon-3 
						p: span 3.Подтверждение публикации
				div.mob_vers.d_none
					p 1.Заполнение заявки
					p 2.Получение счета и подача документов
					p 3.Подтверждение публикации

				form.validate.first_form
					.form_main_wrap.mb40
						.form_wrap.mb30
							.row
								.col-lg-12
									div.mb45
										a.link-blue.link-icon.link-lg.tdn(href="javascript:;")
											img(src="images/ar_l.png", alt="")
											|К выбору типов публикаций
								 
									h4.md.mb25.any_message Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
									div.form_link_box.mb50
										a.link-black.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
											img(src="images/icons/link_icon.png", alt="")
											| Пакет документов
										a.link-red.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
											img(src="images/icons/link_icon.png", alt="")
											| Cбросить данные	
									
									.form_type.mb15
										h5.md.mb20 Тип сообщений
										
										.d_f
											.form_select.select_wrap
												select.js-select
													option(value="1") О  ликвидации ЮЛ
													option(value="2") О  реорганизации ЮЛ в форме преобразования
													option(value="5") О  реорганизации ЮЛ в форме выделения
													option(value="6") О  реорганизации ЮЛ в форме разделения
													option(value="7") О  реорганизации ЮЛ в форме присоединения
													option(value="8") О  реорганизации ЮЛ в форме слияния
													option(value="3") Об уменьшении уставного капитала ЮЛ
													option(value="4") О  приобретении более 20% уставного капитала ЮЛ
													option(value="14") Сведения о чистых активах ЮЛ
													option(value="9") Другие сообщения от ЮЛ, которые они обязаны публиковать в соответствии с законодательством РФ

											div.authorized-form
												| Для оформления заявки необходимо 
												a.link-blue(href="javascript:;" target="_blank") зарегистрироваться
												|&nbsp; или 
												a.link-blue(href="javascript:;" target="_blank") авторизоваться 
												|&nbsp; в личном кабинете.

									h5.md Выберите способ заполнения заявки:
									div.d_f
										div.ckeckForm(data-toggle-check="off") Заполнить на одной странице
										div.toggle_box
											input#toggle-checkbox(type="checkbox")
											label.checkbox-label(for="toggle-checkbox")
										div.ckeckForm(data-toggle-check="on") Пошаговое заполнение

					.row.form_step_container

						.offset-lg-1.col-lg-6.col-xs-12.order-1.public_wrap.mb50
							.ml44
								div.public_container
									div.public_container_item
										h5.public_title Текст для публикации
										div.form_row
											input#inpt6.styler.formatting(type="checkbox" checked) 
											label.form_label.formatting_label(for="inpt6")  Формировать автоматически
									
									div.form_row
										textarea.form_textarea(value="Автономная некоммерческая организация уведомляет о том, что внеочередным общим собранием участников (Решение № от) принято решение о реорганизации в форме присоединения к нему. Требования кредиторов могут быть предъявлены не позднее 30 дней с даты последнего опубликования уведомления о реорганизации по адресу:,.")

						.col-lg-5.col-xs-12.form_wrap.order-0.first_step.step_box.mb50
							.mr-57
								h5.md 1.Информация об организации
								div.form_row
									label.form_label.required Организационно правовая форма (ОПФ) 
									select.styler(name="cf_select_opf")
										option
										option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
										option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
										option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
								div.form_row
									label.form_label.required Полное наименование организации без ОПФ 
									textarea.form_textarea.h82(name="cf_textarea_opf")
								div.form_row
									label.form_label.required Краткое наименование организации с ОПФ 
									input.form_input(type="text" name="cf_input_opf")
								div.form_row
									label.form_label.required ОГРН 
									input.form_input(type="text" name="cf_input_ogrn")
								div.form_row_col
										div.form_row
											label.form_label.required ИНН 
											input.form_input(type="text" name="cf_input_inn")
										div.form_row
											label.form_label.required КПП 
											input.form_input(type="text" name="cf_input_kpp")
								div.form_row
									label.form_label.required Адрес (с индексом)
									.js-tooltip
										img(src="images/cir.png", alt="")
										.js-tooltip_container
											.js-tooltip-wrap
												span Внесите адрес с указанием индекса, города, улицы, номера дома
									textarea.form_textarea.h123(name="cf_textarea_adress")
								div.form_row
									label.form_label Электронная почта
									input.form_input(type="email")
								div.form_row
									label.form_label Телефон
									input.form_input(type="tel")
						
						
						.col-lg-12.form_wrap.order-2.mb50
							h5.md 2. Информация о принятом решении
							.row
								.col-lg-5.col-xs-12
									.mr-57
										div.form_row
											label.form_label.required Орган, принявший решение 
											select.styler(name="cf_select_decision")
												option
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
										div.form_row
											label.form_label.required Тип документа
											select.styler(name="cf_select_doc")
												option
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
												option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
											span.italic Если в списке нет наименования документа, на основании которого принято решение, выберите - «иной документ» и заполните поле вручную
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										div.form_row
											label.form_label.required Номер
											input.form_input(type="text" name="cf_input_number")
										div.form_row
											label.form_label.required Дата
											input.form_input(type="text" name="cf_input_data")


						.col-lg-12.form_wrap.order-3.mb40
							h5.md 3. Требования кредиторов
							.row
								.col-lg-5.col-xs-12
									.mr-57
										div.form_row
											label.form_label.required Адрес (с индексом) для предъявления требований кредитов 
											textarea.form_textarea.h123(name="cf_textarea_credit_adress" value="г. Москва, ул. Смольная, д.12")
										div.form_row.d_f
											input#inpt9.styler(type="checkbox")
											label.form_label(for="inpt9") Соответствует местонахождению организации
										div.form_row.d_f.al-it-center
											label.form_label.mr15 Требования кредиторов принимаются в течение (в месяцах):
											input.form_input.w52(type="text")
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										div.form_row
											label.form_label Электронная почта
											input.form_input(type="email")
										div.form_row
											label.form_label Телефон
											input.form_input(type="tel")
						

						.col-lg-12.form_wrap.order-4.mb40
							h5.md.m_b_zero 4. Заявитель
							span.italic.mxw460.mb20 Указываются данные того, кто будет подписывать бланк-заявку и сопроводительное письмо
							.row
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap.mb50
											h6.md.mb14  Заявитель
											div.form_row
												label.form_label.required Тип заявителя
												select.styler(name="cf_select_applicant")
													option
													option(value="Ликвидатор") Ликвидатор
													option(value="Ликвидатор") Ликвидатор
													option(value="Ликвидатор") Ликвидатор
											div.form_row
												label.form_label.required ФИО
												input.form_input(type="text" name="cf_input_fullname")
										.form_wrap
											h6.md.mb14 Контакты заявителя
											div.form_row
												label.form_label Телефон
												input.form_input(type="tel")
											div.form_row
												label.form_label Адрес
												textarea.form_textarea.h123
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										h6.md.mb14 Паспортные данные заявителя
										div.form_row
											label.form_label.required Номер/серия
											input.form_input(type="text" name="cf_input_number_seria")
										div.form_row
											label.form_label.required Орган и дата выдачи 
											textarea.form_textarea.h80(name="cf_textarea_extradition")

						
						.col-lg-12.form_wrap.full.order-5.mb40
							h2.md.mb50.al_center Оформление заказа

							.row.mb40
								.col-12
									h4.md.mb20 Публикация
									.row
										.col-lg-5.col-xs-12
											.mr-57
												div.form_row
													select.styler.js-publication-select
														option(value="без получения экземпляра") без получения экземпляра
														option(value="с получением экземпляра(ов) издания в редакции (г. Москва)") с получением экземпляра(ов) издания в редакции (г. Москва) 
														option(value="с получением экземпляра(ов) издания заказным письмом") с получением экземпляра(ов) издания заказным письмом

										.offset-lg-1.col-lg-6.col-xs-12
											.ml44
												.form_row.publications
													.d_f.al-it-center
														input.form_input.w75(type="text" placeholder="* штук")
														label.form_label.ml10 с первичной публикацией
							.row.recipient.mb40
								.col-12
									h4.md.mb20 Получатель
									.row
										.col-lg-5.col-xs-12
											.mr-57
												div.form_row
													label.form_label.required Краткое наименование организации с ОПФ 
													input.form_input(type="text" name="cf_input_opf")
												div.form_row
													label.form_label.required ФИО
													input.form_input(type="text" name="cf_input_fullname")
										.offset-lg-1.col-lg-6.col-xs-12
											.ml44
												div.form_row
													label.form_label Телефон
													input.form_input(type="tel")
												div.form_row
													label.form_label Электронная почта
													input.form_input(type="email" placeholder="E-mail получателя журнала")
												div.form_row.d_f
													input#inpt171.styler(type="checkbox")
													label.form_label(for="inpt171") Данные публикуемой организации

							.row
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap
											h4.md.mb20 Экземпляр издания
											div.form_row
												select.styler
													option(value="С получением экземпляра(ов) заказным письмом") С получением экземпляра(ов) заказным письмом
													option(value="С получением экземпляра(ов) заказным письмом") С получением экземпляра(ов) заказным письмом 
													option(value="С получением экземпляра(ов) заказным письмом") С получением экземпляра(ов) заказным письмом
											div.form_row.d_f.al-it-center
												label.form_label.mr15 Количество экземпляров (в штуках):
												input.form_input.w52(type="text")
											div.form_row
												label.form_label Адрес доставки (с индексом)
												textarea.form_textarea.h123
											div.form_row.d_f
												input#inpt16.styler(type="checkbox")
												label.form_label(for="inpt16") Соответствует местонахождению организации

								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										.form_wrap
											h4.md.mb20 Бухгалтерские документы
											div.form_row
												label.form_label Оформлять бухгалтерские документы
												select.styler.js-accounting-select
													option(value="Не требуется") Не требуется
													option(value="На публикуемую организацию") На публикуемую организацию
													option(value="На иную организацию") На иную организацию
											div.form_row.other_organization
												div.form_row
													label.form_label.required Полное наименование организации с ОПФ 
													textarea.form_textarea.h82(name="cf_textarea_opf")
												div.form_row
													label.form_label.required ОГРН 
													input.form_input(type="text" name="cf_input_ogrn")
												div.form_row_col
													div.form_row
														label.form_label.required ИНН 
														input.form_input(type="text" name="cf_input_inn")
													div.form_row
														label.form_label.required КПП 
														input.form_input(type="text" name="cf_input_kpp")
												div.form_row
													label.form_label.required Адрес (с индексом)
													textarea.form_textarea.h123(name="cf_textarea_adress")
												div.form_row.d_f
													input#inpt111.styler(type="checkbox")
													label.form_label(for="inpt111") 
														a.link-blue(href="#") Условия оформления 
														|&nbsp; документов приняты

											div.form_row.accounting_docs
												label.form_label Получить бухгалтерские документы
												select.styler.js-accounting-select2
													option(value="Забрать в редакции (г. Москва)") Забрать в редакции (г. Москва)
													option(value="Доставить по местонахождению публикуемой организации") Доставить по местонахождению публикуемой организации
													option(value="Доставить почтой вместе с журналом") Доставить почтой вместе с журналом
													option(value="Доставить по иному адресу (только Россия)") Доставить по иному адресу (только Россия)
											
											.form_wrap.recipient2
												div.form_row
													label.form_label.required Адрес доставки (с индексом)
													textarea.form_textarea.h123(name="cf_textarea_adress")
												h4.md.mb20 Получатель
												div.form_row
													label.form_label.required Краткое наименование организации с ОПФ 
													input.form_input(type="text" name="cf_input_opf")
												div.form_row
													label.form_label.required ФИО
													input.form_input(type="text" name="cf_input_fullname")
												div.form_row
													label.form_label Телефон
													input.form_input(type="tel")
												div.form_row
													label.form_label Электронная почта
													input.form_input(type="email")
												div.form_row
													label.form_label.required Краткое наименование организации с ОПФ 
													input.form_input(type="text" name="cf_input_opf")
												div.form_row
													label.form_label.required Адрес доставки (с индексом)
													textarea.form_textarea.h123(name="cf_textarea_adress")
												div.form_row.d_f
													input#inpt17.styler(type="checkbox")
													label.form_label(for="inpt17") Соответствует местонахождению организации

						
						.col-lg-12.form_wrap.last_step.full.order-6.mb40
							h2.md.mb50.al_center Способ подачи сообщения
							
							.row
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap
											.form_row.form_radio.clearfix
												input#ra.styler.radio_flex.js_use_electronic(type="radio" name="r")
												label.form_label.js_use_electronic(for="ra") Использовать электронную подпись (ЭП) для подачи сообщения онлайн
											.form_row.form_radio.clearfix
												input#ra2.styler.radio_flex.js_no_use_electronic(type="radio" name="r" checked)
												label.form_label.js_no_use_electronic(for="ra2") Не использовать электронную подписаь (ЭП) и предоставить документы в представительство (<a class="link-blue tdn" href="javascript:;">Нет электронной подписи?</a>)

								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										.form_wrap.js-regionals
											h4.md.mb20 Региональное представительство
											div.form_row
												label.form_label Регион
												input.form_input(type="text")
											div.form_row
												label.form_label Представительство
												textarea.form_textarea.h123
							
							div.form_link_box.jc-end.mt15
								a.link-red.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
									img(src="images/icons/link_icon.png", alt="")
									| Cбросить данные	
								button.btn_blue2.btn_size2 Оформить

					.form_step_box
						a.btn_step-left.btn_blue2.form_left-step 
							span.arr
							span Назад
						a.btn_step-right.btn_blue2.form_right-step 
							span.arr
							span Далее

				.footer_info_container
					.row
						.col-lg-5.col-xs-12
							.mr-57
								div.coment_txt 
									p Если у Вас возникли вопросы, зайдите в раздел <a class='link-blue' href="">Часто задаваемые вопросы</a>, возможно, там есть ответ! 
									p Заявка рассматривается в течение рабочего дня.
									p Прием документов для опубликования сообщения в журнале «Вестник государственной регистрации» осуществляется по рабочим дням (понедельник-пятница) с 9:00-18:00. Прием сообщений в текущий номер прекращается по средам в 14.00 в соответствии с графиком выхода журнала. Убедительно просим вас осуществлять оплату заблаговременно. Ваши сообщения будут опубликованы в ближайшем номере журнала только после зачисления денежных средств на расчетный счет Редакции и подачи полного комплекта документов. Все сообщения, принятые после 14.00 по местному времени, включаются в следующий номер.

									p Первичные учетные документы, подтверждающие факт оказания услуг по публикации сообщения в журнале «Вестник государственной регистрации», формируются на каждое сообщение отдельно по дате выхода номера.
									p Все указанные вами в подаваемых документах реквизиты организаций (Наименование, ОГРН, ИНН, КПП, местонахождение) проходят проверку по общедоступной базе данных Федеральной Налоговой Службы. В случае несоответствия значений реквизитов, сотрудник представительства вправе попросить вас предъявить актуальное свидетельство/лист записи или выписку из ЕГРЮЛ, подтверждающие правильность указанных вами данных.
									p При составлении текстов сообщений Заявители должны руководствоваться Законодательством РФ, с учетом требований Редакции.

						.offset-lg-1.col-lg-6.col-xs-12
							.ml44
								.form_wrap
									h4.md.mb20 Оставьте отзыв
									div.form_row
										label.form_label Плюсы и минусы нашего сервиса:
										textarea.form_textarea.h173

		// - - - - - - - - - - - - - End regions - - - - - - - - - - - - - - - -


	// Content End       ============================================


//- Content End       ============================================