extends ../pug/templates/main

block vars
	- var title = "Public";
	//- - var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];


//- Content Start     ============================================


block content
	section.indent_box
		div.container-fluid
			.row.align-items-md-center
				.col-xl-4.col-lg-5.col-md-5
					a(href="index.html").info_block
						img(src="images/vestnik-main.png", alt="")
						h3.bd Вестник государственной регистрации
				.col-xl-7.offset-md-1.col-lg-6.col-md-6
					div.info_block_txt
						p Остается <span class="md">3 дня и 10 часов</span> до окончания приема сообщений в номер
						p Текущий номер: <span class="md">7 (672) от 21 февраля 2018 г.</span>
	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - promo - - - - - - - - - - - - - - - -

		div(class="wary_section indent_box_1 bg_blue")
			div.container.wary
				div.wary_time Уважаемые заявители!
				div.wary_txt Обращаем ваше внимание на то, что 7 марта 2018 года редакция журнала "Вестник государственной регистрации" будет работать до 17.00
				div.wary-close
					img(src="images/close.png", alt="")

		// - - - - - - - - - - - - - End of promo - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - regions - - - - - - - - - - - - - - - -
		section(class="public")

			h1.mb55.al_center  Публикация сообщений о существенных фактах
			.container
				div.main_ribbons
					div.ribbon.ribbon-1.active
						p: span 1.Заполнение заявки
					div.ribbon.ribbon-2
						p: span 2.Получение счета и подача документов
					div.ribbon.ribbon-3
						p: span 3.Подтверждение публикации
				div.mob_vers.d_none
					p 1.Заполнение заявки
					p 2.Получение счета и подача документов
					p 3.Подтверждение публикации

				form.validate.first_form
					.form_main_wrap.mb40
						.form_wrap.mb30
							.row
								.col-lg-12
									div.mb45
										a.link-blue.link-icon.link-lg.tdn(href="javascript:;")
											img(src="images/ar_l.png", alt="")
											|К выбору типов публикаций

									h4.md.mb25.any_message Другие сообщения от юридических лиц, которые они обязаны публиковать в соответствии с законодательством РФ
									div.form_link_box.mb50
										a.link-black.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
											img(src="images/icons/link_icon.png", alt="")
											| Пакет документов
										a.link-red.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
											img(src="images/icons/link_icon.png", alt="")
											| Cбросить данные

									.form_type.mb15
										h5.md.mb20 Тип сообщений

										.d_f
											.form_select.select_wrap
												select.js-select.styler2
													option(value="1") О  ликвидации ЮЛ
													option(value="2") О  реорганизации ЮЛ в форме преобразования
													option(value="3") О  реорганизации ЮЛ в форме выделения
													option(value="4") О  реорганизации ЮЛ в форме разделения
													option(value="5") О  реорганизации ЮЛ в форме присоединения
													option(value="6") О  реорганизации ЮЛ в форме слияния
													option(value="7") Об уменьшении уставного капитала ЮЛ
													option(value="8") О  приобретении более 20% уставного капитала ЮЛ
													option(value="9") Сведения о чистых активах ЮЛ
													option(value="10") Другие сообщения от ЮЛ, которые они обязаны публиковать в соответствии с законодательством РФ

											div.authorized-form
												| Для оформления заявки необходимо
												a.link-blue(href="javascript:;" target="_blank") зарегистрироваться
												|&nbsp; или
												a.link-blue(href="javascript:;" target="_blank") авторизоваться
												|&nbsp; в личном кабинете.

									h5.md Выберите способ заполнения заявки:
									div.d_f
										div.ckeckForm(data-toggle-check="off") Заполнить на одной странице
										div.toggle_box
											input#toggle-checkbox(type="checkbox")
											label.checkbox-label(for="toggle-checkbox")
										div.ckeckForm(data-toggle-check="on") Пошаговое заполнение

					.row.form_step_container

						.offset-lg-1.col-lg-6.col-xs-12.order-1.public_wrap.mb50
							.ml44
								div.public_container
									div.public_container_item
										h5.public_title Текст для публикации
										div.form_row
											input#inpt6.styler.formatting(type="checkbox" checked)
											label.form_label.formatting_label(for="inpt6")  Формировать автоматически

									div.form_row
										textarea.form_textarea(value="Автономная некоммерческая организация уведомляет о том, что внеочередным общим собранием участников (Решение № от) принято решение о реорганизации в форме присоединения к нему. Требования кредиторов могут быть предъявлены не позднее 30 дней с даты последнего опубликования уведомления о реорганизации по адресу:,.")

						.col-lg-5.col-xs-12.js-form_wrap.form_wrap.order-0.first_step.step_box.mb50.form_turn
							.mr-57
								h5.form_title_step.md <span data-number></span> Информация об организации
								div.form_row
									label.form_label.required Организационно правовая форма (ОПФ)
									.form_row.form_select
										select.styler2(name="cf_select_opf")
											optgroup(label="Стандартная")
												option Автономная некоммерческая организация
												option Акционерное общество
												option Государственное бюджетное учреждение
												option Государственное унитарное предприятие
												option Дачное некоммерческое товарищество
												option Закрытое акционерное общество
												option Крестьянское (фермерское) хозяйство
												option Муниципальное бюджетное учреждение
												option Муниципальное унитарное предприятие
												option Общество с ограниченной ответственностью
												option Открытое акционерное общество
												option Паевой инвестиционный фонд
												option Первичная профсоюзная организация
												option Публичное акционерное общество
												option Садоводческое некоммерческое товарищество
												option Товарищество собственников жилья

											optgroup(label="Не стандартная")
												option Индивидуальный предприниматель
												option Иная организационно-правовая форма
												option Организационно-правовая форма отсутствует
										//- select.styler(name="cf_select_opf")
										//- 	option
										//- 	option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
										//- 	option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
										//- 	option(value="Автономная некоммерческая организация") Автономная некоммерческая организация
								div.form_row
									label.form_label.required Полное наименование организации без ОПФ
									textarea.form_textarea.h82(name="cf_textarea_opf")
								div.form_row
									label.form_label.required Краткое наименование организации с ОПФ
									input.form_input(type="text" name="cf_input_opf")
								.form_row_3col
									div.form_row
										label.form_label.required ОГРН
										input.form_input(type="text" name="cf_input_ogrn")
									//- div.form_row_col
									div.form_row
										label.form_label.required ИНН
										input.form_input(type="text" name="cf_input_inn")
									div.form_row
										label.form_label.required КПП
										input.form_input(type="text" name="cf_input_kpp")
								div.form_row
									label.form_label.required Адрес (с индексом)
									.js-tooltip.prompt
										img(src="images/cir.png", alt="")
										.js-tooltip_container.prompt_container
											.js-tooltip-wrap.prompt_wrap
												span Внесите адрес с указанием индекса, города, улицы, номера дома
									textarea.form_textarea.h123(name="cf_textarea_adress")
								div.form_row
									label.form_label Электронная почта
									input.form_input(type="email")
								div.form_row
									label.form_label Телефон
									input.form_input(type="tel")

								.form_wrap.executive_agency
									<h6 class="md mb14">Единоличный исполнительный орган</h6>
									div.form_row_col
										div.form_row
											label.form_label Должность
											input.form_input(type="text")
										div.form_row
											label.form_label ФИО
											input.form_input(type="text")


						.col-lg-12.js-form_wrap.form_turn.form_wrap.order-2.mb50
							h5.form_title_step.md <span data-number></span> Информация о принятом решении
							.row
								.col-lg-5.col-xs-12
									.mr-57
										div.form_row
											label.form_label.required Орган, принявший решение
											.form_row.form_select
												.form_row
													select.styler2.js-select1(name="cf_select_decision")
														option единственным участником
														option единственным акционером
														option единственным учредителем
														option собранием участников
														option собранием акционеров
														option собранием учредителей
														option общим собранием участников
														option общим собранием акционеров
														option общим собранием учредителей
														option внеочередным собранием участников
														option внеочередным собранием акционеров
														option внеочередным собранием учредителей
														option внеочередным общим собранием участников
														option внеочередным общим собранием акционеров
														option внеочередным общим собранием учредителей
														option(data-type="other_type") иным органом

												input.input_hide.form_input(type="text" placeholder="Наименование иного органа")
												span.italic Если в списке нет наименования органа, принявшего решение, выберите - «иным органом» и заполните поле вручную
										div.form_row
											label.form_label.required Тип документа
											.form_row.form_select
												.form_row
													select.styler2.js-select1(name="cf_select_doc")
														option Решение
														option Протокол
														option Постановление
														option Приказ
														option Указ
														option(data-type="other_type") Иной документ
												input.input_hide.form_input(type="text" placeholder="Наименование иного документа")
												span.italic Если в списке нет наименования документа, на основании которого принято решение, выберите - «иной документ» и заполните поле вручную
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										div.form_row
											label.form_label.required Номер
											input.form_input(type="text" name="cf_input_number")
										div.form_row
											label.form_label.required Дата
											input.form_input(type="text" name="cf_input_data")


						.col-lg-12.js-form_wrap.form_turn.form_wrap.order-3.mb40
							h5.form_title_step.md <span data-number></span> Требования кредиторов
							.row
								.col-lg-5.col-xs-12
									.mr-57
										div.form_row
											label.form_label.required Адрес (с индексом) для предъявления требований кредитов
											textarea.form_textarea.h123(name="cf_textarea_credit_adress" value="г. Москва, ул. Смольная, д.12")
										div.form_row.d_f
											input#inpt9.styler(type="checkbox")
											label.form_label(for="inpt9") Соответствует местонахождению организации
										div.form_row.d_f.al-it-center.jc-end
											label.form_label.mr15 Требования кредиторов принимаются в течение (в месяцах):
											input.form_input.w52(type="text")
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										div.form_row
											label.form_label Электронная почта
											input.form_input(type="email")
										div.form_row
											label.form_label Телефон
											input.form_input(type="tel")


						.col-lg-12.form_wrap.order-3.mb40.organization_created
							h5.form_title_step.md <span data-number></span> <span class="change_title" data-text-default="Информация о создаваемой организации" data-text="Информация о присоединяемых организациях">Информация о создаваемой организации</span>

							.org_box
								.org_box_item(data-type="1")
									.row
										.col-lg-5.col-xs-12
											.mr-57
												.form_wrap
													h6.md.mb14  Наименование создаваемой организации
													.form_row.form_select
														select.js-select2.styler2
															optgroup
																option(value="1") Автономная некоммерческая организация
																option(value="2") Акционерное общество
																option(value="3") Государственное бюджетное учреждение
																option(value="4") Государственное унитарное предприятие
																option(value="5") Дачное некоммерческое товарищество
																option(value="6") Закрытое акционерное общество
																option(value="7") Крестьянское (фермерское) хозяйство
																option(value="8") Муниципальное бюджетное учреждение
																option(value="9") Муниципальное унитарное предприятие
																option(value="10") Общество с ограниченной ответственностью
																option(value="11") Открытое акционерное общество
																option(value="12") Паевой инвестиционный фонд
																option(value="13") Первичная профсоюзная организация
																option(value="14") Публичное акционерное общество
																option(value="15") Садоводческое некоммерческое товарищество
																option(value="16") Товарищество собственников жилья
															optgroup
																option(value="17") Иная организационно-правовая форма
																option(value="18") Организационно-правовая форма отсутствует
													div.form_row
														label.form_label.required Полное наименование организации без ОПФ
														textarea.form_textarea.h82(name="cf_textarea_opf")
													div.form_row
														label.form_label.required Краткое наименование организации с ОПФ
														input.form_input(type="text" name="cf_input_opf")
													div.form_row.d_f
														input#check1.styler(type="checkbox")
														label.form_label(for="check1") Расставлять кавычки автоматически
													div.form_row.d_f
														input#check2.styler(type="checkbox")
														label.form_label(for="check2") Соответствует публикуемой организации


										.offset-lg-1.col-lg-6.col-xs-12
											.ml44
												.form_wrap.mb20
													h6.md.mb14  Местонахождение создаваемой организации
													div.form_row
														label.form_label.required Адрес (с индексом)
														textarea.form_textarea.h82(name="cf_textarea_adress")
													div.form_row
														label.form_label Телефон
														input.form_input(type="tel")
													div.form_row
														label.form_label Электронная почта
														input.form_input(type="email")
													div.form_row.d_f
														input#check3.styler(type="checkbox")
														label.form_label(for="check3") Соответствует публикуемой организации
												.form_wrap
													h6.md.mb14  Единоличный исполнительный орган создаваемой организации
													div.form_row_col
														div.form_row
															label.form_label Должность
															input.form_input(type="text")
														div.form_row
															label.form_label ФИО
															input.form_input(type="text")
													div.form_row.d_f
														input#check4.styler(type="checkbox")
														label.form_label(for="check4") Соответствует исполнительному органу публикуемой организации


								.org_box_item(data-type="2")
									.row
										.col-lg-5.col-xs-12
											.mr-57
												.form_wrap
													//- h6.md.mb14  Наименование создаваемой организации
													.form_row.form_select
														select.js-select2.styler2
															optgroup
																option(value="1" data-type="another-org") Присоединение публикуемой организации к другой со следующими:
																option(value="2") Присоединение к публикуемой организации следующих:

													div.form_row.js-affiliated_org_list

													div.form_link_box.mt15.form_row

														a.btn_blue2.btn_size2.js-aff_org_add(href="javascript:;") Добавить организацию

												.form_wrap.mt15.mb20.js-affiliated_org(style="display:none;")
													h6.md.mb14  Данные присоединяемой организации
													div.form_row
														label.form_label.required Полное наименование организации без ОПФ
														textarea.form_textarea.h82.afforg_inp(name="afforg_full_opf")
													div.form_row
														label.form_label.required Краткое наименование организации с ОПФ
														input.form_input.afforg_inp(type="text" name="afforg_opf")
													.form_row_3col
														div.form_row
															label.form_label.required ОГРН
															input.form_input.afforg_inp(type="text" name="afforg_ogrn")
														//- div.form_row_col
														div.form_row
															label.form_label.required ИНН
															input.form_input.afforg_inp(type="text" name="afforg_inn")
														div.form_row
															label.form_label.required КПП
															input.form_input.afforg_inp(type="text" name="afforg_kpp")
													div.form_row
														label.form_label.required Адрес (с индексом)
														.js-tooltip.prompt
															img(src="images/cir.png", alt="")
															.js-tooltip_container.prompt_container
																.js-tooltip-wrap.prompt_wrap
																	span Внесите адрес с указанием индекса, города, улицы, номера дома
														textarea.form_textarea.h123.afforg_inp(name="afforg_adress")
													div.form_row
														label.form_label Электронная почта
														input.form_input.afforg_inp(type="email" name="afforg_email")
													div.form_row
														label.form_label Телефон
														input.form_input.afforg_inp(type="tel" name="afforg_tel")

													.form_wrap.executive_agency
														<h6 class="md mb14">Единоличный исполнительный орган</h6>
														div.form_row_col
															div.form_row
																label.form_label Должность
																input.form_input.afforg_inp(type="text" name="afforg_position")
															div.form_row
																label.form_label ФИО
																input.form_input.afforg_inp(type="text" name="afforg_fio")

													div.form_link_box.mt15.form_row
														a.btn_blue2.btn_size2.js-aff_org_save(href="javascript:;") Сохранить
														a.link-red.link-size.link_bd.link-icon.lt.tdn.js-aff_org_reset(href="javascript:;")
															| Отмена

										.offset-lg-1.col-lg-6.col-xs-12
											.ml44

												.form_wrap.mb20.js-another-org
													h6.md.mb14  Другая организация
													div.form_row
														label.form_label.required Полное наименование организации без ОПФ
														textarea.form_textarea.h82(name="cf_textarea_opf")
													div.form_row
														label.form_label.required Краткое наименование организации с ОПФ
														input.form_input(type="text" name="cf_input_opf")
													.form_row_3col
														div.form_row
															label.form_label.required ОГРН
															input.form_input(type="text" name="cf_input_ogrn")
														//- div.form_row_col
														div.form_row
															label.form_label.required ИНН
															input.form_input(type="text" name="cf_input_inn")
														div.form_row
															label.form_label.required КПП
															input.form_input(type="text" name="cf_input_kpp")
													div.form_row
														label.form_label.required Адрес (с индексом)
														.js-tooltip.prompt
															img(src="images/cir.png", alt="")
															.js-tooltip_container.prompt_container
																.js-tooltip-wrap.prompt_wrap
																	span Внесите адрес с указанием индекса, города, улицы, номера дома
														textarea.form_textarea.h123(name="cf_textarea_adress")
													div.form_row
														label.form_label Электронная почта
														input.form_input(type="email")
													div.form_row
														label.form_label Телефон
														input.form_input(type="tel")

													.form_wrap.executive_agency
														<h6 class="md mb14">Единоличный исполнительный орган</h6>
														div.form_row_col
															div.form_row
																label.form_label Должность
																input.form_input(type="text")
															div.form_row
																label.form_label ФИО
																input.form_input(type="text")


						.col-lg-12.js-form_wrap.form_turn.form_wrap.order-4.mb40
							h5.form_title_step.md.m_b_zero <span data-number></span> Заявитель
							span.italic.mxw460.mb20 Указываются данные того, кто будет подписывать бланк-заявку и сопроводительное письмо
							.row
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap.mb50
											h6.md.mb14  Заявитель
											div.form_row
												label.form_label.required Тип заявителя
												select.styler(name="cf_select_applicant")
													option
													option(value="Ликвидатор") Ликвидатор
													option(value="Ликвидатор") Ликвидатор
													option(value="Ликвидатор") Ликвидатор
											div.form_row
												label.form_label.required ФИО
												input.form_input(type="text" name="cf_input_fullname")
										.form_wrap
											h6.md.mb14 Контакты заявителя
											div.form_row
												label.form_label Телефон
												input.form_input(type="tel")
											div.form_row
												label.form_label Адрес
												textarea.form_textarea.h123
								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										h6.md.mb14 Паспортные данные заявителя
										div.form_row
											label.form_label.required Номер/серия
											input.form_input(type="text" name="cf_input_number_seria")
										div.form_row
											label.form_label.required Орган и дата выдачи
											textarea.form_textarea.h80(name="cf_textarea_extradition")
										.form_wrap.additional_documents
											h6.md.mb14 Дополнительные документы
											div.form_row
												label.form_label ГРН записи о начале процедуры реорганизации
												input.form_input(type="text")


						.col-lg-12.js-form_wrap.form_turn.form_wrap.full.order-5.mb40
							h2.md.mb50.al_center Оформление заказа

							.row.mb40
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap.mb15
											h4.md.mb20 Экземпляр издания
											.form_row.publish_first_second
												select.styler.js-publication-select2
													option(value="Первичная публикация") Первичная публикация
													option(value="Повторная публикация") Повторная публикация
											.form_row.form_select.re-publish
												select.styler2
													option(value="1") Предыдущая: № 28(693) от 18.07.2018
													option(value="2") Предыдущая: № 27(692) от 11.07.2018
													option(value="3") Предыдущая: № 26(691) от 04.07.2018
													option(value="4") Предыдущая: № 25(690) от 27.06.2018
													option(value="5") Предыдущая: № 24(689) от 20.06.2018
													option(value="6") Предыдущая: № 23(688) от 13.06.2018
													option(value="7") Предыдущая: № 22(687) от 06.06.2018
													option(value="8") Предыдущая: № 21(686) от 30.05.2018
													option(value="9") Предыдущая: № 20(685) от 23.05.2018
													option(value="10") Предыдущая: № 19(684) от 16.05.2018
													option(value="11") Предыдущая: № 18(683) от 10.05.2018
													option(value="12") Предыдущая: № 17(682) от 03.05.2018
													option(value="13") Предыдущая: № 16(681) от 25.04.2018
													option(value="14") Предыдущая: № 15(680) от 18.04.2018
													option(value="15") Предыдущая: № 14(679) от 11.04.2018
													option(value="16") Предыдущая: № 13(678) от 04.04.2018
													option(value="17") Предыдущая: № 12(677) от 28.03.2018
													option(value="18") Предыдущая: № 11(676) от 21.03.2018
													option(value="19") Предыдущая: № 10(675) от 14.03.2018
													option(value="20") Предыдущая: № 9(674) от 07.03.2018
													option(value="21") Предыдущая: № 8(673) от 28.02.2018
													option(value="22") Предыдущая: № 7(672) от 21.02.2018
													option(value="23") Предыдущая: № 6(671) от 14.02.2018
													option(value="24") Предыдущая: № 5(670) от 07.02.2018
													option(value="25") Предыдущая: № 4(669) от 31.01.2018
													option(value="26") Предыдущая: № 3(668) от 24.01.2018
													option(value="27") Предыдущая: № 2(667) от 17.01.2018
													option(value="28") Предыдущая: № 1(666) от 10.01.2018
													option(value="29") Предыдущая: № 51(665) от 27.12.2017
													option(value="30") Предыдущая: № 50(664) от 20.12.2017
											.form_row.reprint-Checkbox
												.d_f.al-it-center
													.d_f
														input.js-check-public#check5.styler(type="checkbox")
														label.form_label(for="check5") Обеспечить повторную публикацию через ...
													input.input-day.form_input.ml15.w52(type="text")
											.form_row
												select.styler.js-publication-select
													option(value="без получения экземпляра") без получения экземпляра
													option(value="с получением экземпляра(ов) издания в редакции (г. Москва)") с получением экземпляра(ов) издания в редакции (г. Москва)
													option(value="с получением экземпляра(ов) издания заказным письмом") с получением экземпляра(ов) издания заказным письмом

										.form_row.primary_publications
											.d_f.al-it-center
												input.form_input.w100(type="text" placeholder="* штук")
												label.form_label.ml10 с первичной публикацией
										.form_row.reprint
											.d_f.al-it-center
												input.form_input.w100(type="text" placeholder="* штук")
												label.form_label.ml10 с повторной публикацией

										.form_wrap.recipient
											h4.md.mb20 Адрес доставки
											div.form_row
												label.form_label Адрес доставки (с индексом)
												textarea.form_textarea.h123
											div.form_row.d_f
												input#inpt16.styler(type="checkbox")
												label.form_label(for="inpt16") Соответствует местонахождению организации

											h4.md.mb20 Получатель
											div.form_row
												label.form_label.required Краткое наименование организации с ОПФ
												input.form_input(type="text" name="cf_input_opf")
											div.form_row
												label.form_label.required ФИО
												input.form_input(type="text" name="cf_input_fullname")
											div.form_row
												label.form_label Телефон
												input.form_input(type="tel")
											div.form_row
												label.form_label Электронная почта
												input.form_input(type="email" placeholder="E-mail получателя журнала")
											div.form_row.d_f
												input#inpt171.styler(type="checkbox")
												label.form_label(for="inpt171") Данные публикуемой организации

								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										.form_wrap
											h4.md.mb20 Бухгалтерские документы
											div.form_row
												label.form_label Оформлять бухгалтерские документы
												select.styler.js-accounting-select
													option(value="Не требуется") Не требуется
													option(value="На публикуемую организацию") На публикуемую организацию
													option(value="На иную организацию") На иную организацию
											div.form_row.other_organization
												div.form_row
													label.form_label.required Полное наименование организации с ОПФ
													textarea.form_textarea.h82(name="cf_textarea_opf")
												.form_row_3col
													div.form_row
														label.form_label.required ОГРН
														input.form_input(type="text" name="cf_input_ogrn")
													div.form_row
														label.form_label.required ИНН
														input.form_input(type="text" name="cf_input_inn")
													div.form_row
														label.form_label.required КПП
														input.form_input(type="text" name="cf_input_kpp")
												div.form_row
													label.form_label.required Адрес (с индексом)
													textarea.form_textarea.h123(name="cf_textarea_adress")
												div.form_row.d_f
													input#inpt111.styler(type="checkbox")
													label.form_label(for="inpt111")
														a.link-blue(href="#") Условия оформления
														|&nbsp; документов приняты

											div.form_row.accounting_docs
												label.form_label Получить бухгалтерские документы
												select.styler.js-accounting-select2
													option(value="Забрать в редакции (г. Москва)") Забрать в редакции (г. Москва)
													option(value="Доставить по местонахождению публикуемой организации") Доставить по местонахождению публикуемой организации
													option(value="Доставить почтой вместе с журналом") Доставить почтой вместе с журналом
													option(value="Доставить по иному адресу (только Россия)") Доставить по иному адресу (только Россия)

											.form_wrap.recipient2
												div.form_row
													label.form_label.required Адрес доставки (с индексом)
													textarea.form_textarea.h123(name="cf_textarea_adress")
												div.form_row.d_f
													input#inpt17.styler(type="checkbox")
													label.form_label(for="inpt17") Соответствует местонахождению организации
												h4.md.mb20 Получатель
												div.form_row
													label.form_label.required Краткое наименование организации с ОПФ
													input.form_input(type="text" name="cf_input_opf")
												div.form_row
													label.form_label.required ФИО
													input.form_input(type="text" name="cf_input_fullname")
												div.form_row
													label.form_label Телефон
													input.form_input(type="tel")
												div.form_row
													label.form_label Электронная почта
													input.form_input(type="email")

						.col-lg-12.js-form_wrap.form_wrap.last_step.full.order-6.mb40
							h2.md.mb50.al_center Способ подачи сообщения

							.row
								.col-lg-5.col-xs-12
									.mr-57
										.form_wrap
											.form_row.form_radio.clearfix
												input#ra.styler.radio_flex.js_use_electronic(type="radio" name="r")
												label.form_label.js_use_electronic(for="ra") Использовать электронную подпись (ЭП) для подачи сообщения онлайн
											.form_row.form_radio.clearfix
												input#ra2.styler.radio_flex.js_no_use_electronic(type="radio" name="r" checked)
												label.form_label.js_no_use_electronic(for="ra2") Не использовать электронную подписаь (ЭП) и предоставить документы в представительство (<a class="link-blue tdn" href="javascript:;">Нет электронной подписи?</a>)

								.offset-lg-1.col-lg-6.col-xs-12
									.ml44
										.form_wrap.js-regionals
											h4.md.mb20 Региональное представительство
											div.form_row
												label.form_label Регион
												input.form_input(type="text")
											div.form_row
												label.form_label Представительство
												textarea.form_textarea.h123

							div.form_link_box.jc-end.mt15
								a.link-red.link-size.link_bd.link-icon.lt.tdn(href="javascript:;")
									img(src="images/icons/link_icon.png", alt="")
									| Cбросить данные
								button.btn_blue2.btn_size2 Оформить

					.form_step_box
						a.btn_step-left.btn_blue2.form_left-step
							span.arr
							span Назад
						a.btn_step-right.btn_blue2.form_right-step
							span.arr
							span Далее

				.footer_info_container
					.row
						.col-lg-5.col-xs-12
							.mr-57
								div.coment_txt
									p Если у Вас возникли вопросы, зайдите в раздел <a class='link-blue' href="">Часто задаваемые вопросы</a>, возможно, там есть ответ!
									p Заявка рассматривается в течение рабочего дня.
									p Прием документов для опубликования сообщения в журнале «Вестник государственной регистрации» осуществляется по рабочим дням (понедельник-пятница) с 9:00-18:00. Прием сообщений в текущий номер прекращается по средам в 14.00 в соответствии с графиком выхода журнала. Убедительно просим вас осуществлять оплату заблаговременно. Ваши сообщения будут опубликованы в ближайшем номере журнала только после зачисления денежных средств на расчетный счет Редакции и подачи полного комплекта документов. Все сообщения, принятые после 14.00 по местному времени, включаются в следующий номер.

									p Первичные учетные документы, подтверждающие факт оказания услуг по публикации сообщения в журнале «Вестник государственной регистрации», формируются на каждое сообщение отдельно по дате выхода номера.
									p Все указанные вами в подаваемых документах реквизиты организаций (Наименование, ОГРН, ИНН, КПП, местонахождение) проходят проверку по общедоступной базе данных Федеральной Налоговой Службы. В случае несоответствия значений реквизитов, сотрудник представительства вправе попросить вас предъявить актуальное свидетельство/лист записи или выписку из ЕГРЮЛ, подтверждающие правильность указанных вами данных.
									p При составлении текстов сообщений Заявители должны руководствоваться Законодательством РФ, с учетом требований Редакции.

						.offset-lg-1.col-lg-6.col-xs-12
							.ml44
								.form_wrap
									h4.md.mb20 Оставьте отзыв
									div.form_row
										label.form_label Плюсы и минусы нашего сервиса:
										textarea.form_textarea.h173

		// - - - - - - - - - - - - - End regions - - - - - - - - - - - - - - - -


	// Content End       ============================================


//- Content End       ============================================