extends ../pug/templates/main

block vars
	- var title = "Регионы";
	//- - var headerClasses = ['header1'];
	//- - var footerClasses = ['footer1'];


//- Content Start     ============================================


block content
	section.indent_box
		div.container-fluid
			.row.align-items-md-center
				.col-xl-4.col-lg-5.col-md-5
					a(href="index.html").info_block
						img(src="images/vestnik-main.png", alt="")
						h3.bd Вестник государственной регистрации
				.col-xl-7.offset-md-1.col-lg-6.col-md-6
					div.info_block_txt
						p Остается <span class="md">3 дня и 10 часов</span> до окончания приема сообщений в номер
						p Текущий номер: <span class="md">7 (672) от 21 февраля 2018 г.</span>
	// Content Start     ============================================
	main#content

		// - - - - - - - - - - - - - wary - - - - - - - - - - - - - - - -

		div(class="wary_section indent_box_1 bg_blue")
			div.container.wary
				div.wary_time Уважаемые заявители!
				div.wary_txt Обращаем ваше внимание на то, что 7 марта 2018 года редакция журнала "Вестник государственной регистрации" будет работать до 17.00
				div.wary-close
					img(src="images/close.png", alt="")

		// - - - - - - - - - - - - - End of wary - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - End of promo - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - -about magazine - - - - - - - - - - - - - - - -
		section(class="regions")
			div.container
				div
					h2.al_center.mb50  Региональные представительства
					p.mb50  Cотрудники региональных представительств «Вестник государственной регистрации» проконсультируют вас по вопросам, касающимся тематики, правовым аспектам деятельности журнала, осуществят прием документов, необходимых для публикации сообщения в журнале «Вестник государственной регистрации», а также в субботнем выпуске газеты «Коммерсантъ» (публикация сведений о несостоятельности (банкротстве)).

				.wrapp_regions.js-tabs.tabs-wrap
					.row
						.col-xl-9.col-lg-8.col-md-7

							h6.title_regions Выберите Федеральный округ:

							ul.list_regions
								li.regions1.current: a.link-black(href="javascript:;") Центральный ФО
								li: a.link-black(href="javascript:;") Северо-Западный ФО
								li: a.link-black(href="javascript:;") Приволжский ФО
								li: a.link-black(href="javascript:;") Южный ФО
								li: a.link-black(href="javascript:;") Уральски	ФО
								li: a.link-black(href="javascript:;") Сибирский ФО
								li: a.link-black(href="javascript:;") Дальневосточный ФО
								li: a.link-black(href="javascript:;") Северо-Кавказский ФО
						.col-xl-3.col-lg-4.col-md-5

							ul.js-tabs-list.tabs_box.tab_ragion_list.clearfix
								li.active Cписком
								li На карте

					.row.mb_regions
						.col-lg-12.col-xs-12
							.js-tabs-box
								div
									ul.list_city
										li.city1.current
											a.link-black2.link_bd2(href="javascript:;") Москва
										li
											a.link-black2.link_bd2(href="javascript:;") Белгородская область
										li
											a.link-black2.link_bd2(href="javascript:;") Брянская область
										li
											a.link-black2.link_bd2(href="javascript:;") Владимирская область
										li
											a.link-black2.link_bd2(href="javascript:;") Воронежская область
										li
											a.link-black2.link_bd2(href="javascript:;") Ивановская область
										li
											a.link-black2.link_bd2(href="javascript:;") Калужская область
										li
											a.link-black2.link_bd2(href="javascript:;") Костромская область
										li
											a.link-black2.link_bd2(href="javascript:;") Курская область
										li
											a.link-black2.link_bd2(href="javascript:;") Липецкая область
										li
											a.link-black2.link_bd2(href="javascript:;") Московская область
										li
											a.link-black2.link_bd2(href="javascript:;") Орловская область
										li
											a.link-black2.link_bd2(href="javascript:;") Рязанская область
										li
											a.link-black2.link_bd2(href="javascript:;") Смоленская область
										li
											a.link-black2.link_bd2(href="javascript:;") Тамбовская область
										li
											a.link-black2.link_bd2(href="javascript:;") Тверская область
										li
											a.link-black2.link_bd2(href="javascript:;") Тульская область
										li
											a.link-black2.link_bd2(href="javascript:;") Ярославская область

								div
									div.ymap#ymap

		section(class="list_1 indent_box_5")
			div.container

				div.feed_back_wrap
					.row
						.col-lg-5.col-md-9.col-xs-12
							div.feed_back.js-feed-accordion
								h6.title_feed_back.md   Редакция журнала «Вестник государственной регистрации»
								ul.list_company
									li.clearfix
										div.first_tible Адрес приёма сообщений:
										div.second_tible 117997, г. Москва, м. «Профсоюзная», Нахимовский пр-т, д. 32, ИДВ РАН, 13 эт., оф. 1300 <a class="link-blue js-balloon" href="javascript:;" data-idBalloon="0">На карте</a>
									li.clearfix
										div.first_tible Почтовый адрес:
										div.second_tible 117997, г. Москва, Нахимовский пр-т, д. 32, ИДВ РАН, оф. 1312, получатель ООО «КоммерсантЪ КАРТОТЕКА»
									li.clearfix
										div.first_tible Время работы:
										div.second_tible Понедельник - пятница, 8:00 - 18:00 Мск. без перерыва
									li.clearfix
										div.first_tible Телефон:
										div.second_tible 8-800-100-8560
									li.clearfix
										div.first_tible Электронная почта:
										div.second_tible vestnik@kartoteka.ru
									li.clearfix
										div.first_tible Контактные лица:
										div.second_tible Алимова Елена Вячеславовна, Власкина Юлия Николаевна, Токовенко Юлия Александровна, Кудрявцева Наталия Евгеньевна, Сотникова Яна Владимировна

						.col-lg-6.offset-lg-1.col-md-9.col-xs-12
							div.feed_back.js-feed-accordion
								h6.title_feed_back.md ООО "ПрестижКонсалт"
								ul.list_company
									li.clearfix
										div.first_tible Адрес приёма сообщений:
										div.second_tible 123610, г. Москва, Краснопресненская набережная, д. 12, 6-ой под-д, оф. 1317, 13 эт., "Центр международной торговли" (м. "Улица 1905 года") <a class="link-blue js-balloon" href="javascript:;" data-idBalloon="2">На карте</a>
									li.clearfix
										div.first_tible Почтовый адрес:
										div.second_tible 123610, г.Москва, ст.метро "Улица 1905 года", Краснопресненская набережная, д.12, 6-й подъезд, офис 1317, 13 этаж, "Центр международной торговли"
									li.clearfix
										div.first_tible Время работы:
										div.second_tible Понедельник-Четверг с 10:00 до 17:00, Пятница с 10:00 до 17:00 без перерыва
									li.clearfix
										div.first_tible Телефон:
										div.second_tible 8 (495) 720-45-75
									li.clearfix
										div.first_tible Электронная почта:
										div.second_tible vestnik@kartoteka.ru
									li.clearfix
										div.first_tible Контактные лица:
										div.second_tible Головатюк Марина Евгеньевна

						.col-lg-5.col-md-9.col-xs-12
							div.feed_back.js-feed-accordion
								h6.title_feed_back.md ООО «Техника»
								ul.list_company
									li.clearfix
										div.first_tible Адрес приёма сообщений:
										div.second_tible 115054, г. Москва, ул. Дубининская д. 17, стр. 8 (м. Павелецкая) <a class="link-blue js-balloon" href="javascript:;" data-idBalloon="1">На карте</a>
									li.clearfix
										div.first_tible Почтовый адрес:
										div.second_tible 125040, г. Москва, 3-я ул. Ямского поля, д.18
									li.clearfix
										div.first_tible Телефон:
										div.second_tible 8 (495) 545-42-76
									li.clearfix
										div.first_tible Электронная почта:
										div.second_tible pb@kommersant24.ru
									li.clearfix
										div.first_tible Контактные лица:
										div.second_tible Петрова Ирина Викторовна

						.col-lg-6.offset-lg-1.col-md-9.col-xs-12
							div.feed_back.js-feed-accordion
								h6.title_feed_back.md ИП Крухмалева Анна Петровна
								ul.list_company
									li.clearfix
										div.first_tible Адрес приёма сообщений:
										div.second_tible 115184, г. Москва, Озерковский пер., д. 15, оф. 11 (м. Третьяковская) <a class="link-blue js-balloon" href="javascript:;" data-idBalloon="3">На карте</a>
									li.clearfix
										div.first_tible Почтовый адрес:
										div.second_tible 115184, г. Москва, Озерковский пер., д. 15, оф. 11
									li.clearfix
										div.first_tible Телефон:
										div.second_tible
											div 8 (495) 648-83-77,
											div 8 (495) 988-59-08,
											div 8 967-031-42-71
									li.clearfix
										div.first_tible Электронная почта:
										div.second_tible info@ruscs.ru
									li.clearfix
										div.first_tible Контактные лица:
										div.second_tible Гаджиева Камила Рамазановна

			div(class="text_regions")
				div.container
					div
						.row
							.col-lg-5
								div.bd_lf

									p Порядок приема документов в редакции не отличается от порядка приема в региональном представительстве. Выставление счета производит только то региональное представительство, в котором будут поданы документы на публикацию.
									p При отправке документов Почтой России рекомендуем после получения уведомления о доставке заказного письма позвонить по телефонам регионального представительства для подтверждения доставки и уточнения сроков публикации.<span class="md">Обязательно указывайте наименование получателя!</span>

							.col-lg-6.offset-lg-1

								p Подачу документов на публикацию сообщений необходимо осуществлять только через действующие региональные представительства, перечень которых отражен на сайте.
								p Все вышеперечисленные действия не требуют дополнительной оплаты. Все замечания и предложения по работе региональных представительств просим направлять на наш электронный адрес в Интернете rm3@kartoteka.ru
								p Убедительная просьба, сообщать об отказах региональных представительств в приеме, в установленные сроки, документов для публикации в текущий номер журнала, в том числе мотивированных, а также о других, на ваш взгляд, нарушениях по телефону: 8-800-100-85-60.



		// - - - - - - - - - - - - - End about magazine - - - - - - - - - - - - - - - -


	// Content End       ============================================


//- Content End       ============================================